<label class="hidden-visually" for="contactsmenu-search">{{searchContactsText}}</label>
<input id="contactsmenu-search" type="search" placeholder="{{searchContactsText}}" value="{{searchTerm}}">
<div class="content">
</div>
