#odf-canvas{
  position: relative;
  top: 37px;
  left: 1px;
  border:1px solid darkgray; 
  box-shadow: 0px 4px 10px #000;
  -moz-box-shadow: 0px 4px 10px #000;
  -webkit-box-shadow: 0px 4px 10px #000;
}

#odf_close{
	margin-left: auto;
	margin-right: 167px;	
	float: right;
}

#odf-toolbar{
    padding: 0 0 0 1em
}

