<?xml version="1.0"?> 
<plugin version='1.0'>
	<info>
		<id>test</id>
		<name>Test plugin</name>
		<version>0.1</version>
		<licence>AGPL</licence>
		<author>2010 Frank Karlitschek karlitschek@kde.org</author>
		<require>1.1</require>
	</info>
	<runtime>
		<include>lib_test.php</include>
	</runtime>
</plugin> 

