#password {
	margin-right: 0 !important;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input[type='submit'] {
	width: 45px;
	height: 45px;
	margin-left: 0 !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

fieldset > p {
	position: relative;
	display: flex;
	align-items: center;
}
