form fieldset {
	display: flex !important;
	flex-direction: column;
}

#password {
	margin-right: 0 !important;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 45px;
	box-sizing: border-box;
	flex: 1 1 auto;
	width: 100% !important;
	min-width: 0; /* FF hack for to override default value */
}

input[type='submit'] {
	width: 45px;
	height: 45px;
	margin-left: 0 !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

fieldset > p {
	display: inline-flex;
}
