/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

// This is the icons used in the sharing ui (SharingInput component)
// loaded by apps/files_sharing/lib/Listener/LoadAdditionalListener.php

.icon-room {
	background-image: var(--icon-talk-dark);
}

.icon-circle {
	background-image: var(--icon-circles-dark);
}

.icon-guests {
	background-image: var(--icon-user-dark);
}