/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@use 'variables';
@use 'functions';

// This is the icons used in the sharing ui (multiselect)
.icon-room {
	background-image: var(--icon-talk-dark);
}

.icon-circle {
	background-image: var(--icon-circles-dark);
}

.icon-guests {
	background-image: var(--icon-user-dark);
}