#content {
	height: initial;
	min-height: calc(100vh - 160px);
}

#header .menutoggle {
	padding: 14px;
	padding-right: 40px;
	background-position: right 15px center;
	color: $color-primary-text;
	cursor: pointer;
}

/* force layout to make sure the content element's height matches its contents' height */
.ie #content {
	display: inline-block;
}

#preview {
	background: #fff;
	text-align: center;
}

#preview .notCreatable {
	display: none;
}

#noPreview {
	display:none;
	padding-top:80px;
}

#imgframe {
	height:75%;
	padding-bottom:32px;
	padding-top:32px;
	width:80%;
	margin:0 auto;
}


#imgframe img,
#imgframe video {
	max-height: 100% !important;
	max-width: 100% !important;
}
#imgframe video {
	width: 854px;
	height: 480px;
}

#imgframe .text-preview {
	display: inline-block;
	position: relative;
	text-align: left;
	white-space: pre-wrap;
	overflow-y: hidden;
	height: auto;
	min-height: 200px;
	max-height: 800px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#imgframe .ellipsis {
	font-size: 1.2em;
}

/* fix multiselect bar offset on shared page */
thead {
	left: 0 !important;
}

#data-upload-form {
	position: relative;
	right: 0;
	height: 32px;
	overflow: hidden;
	padding: 0;
	float: right;
	display: inline;
	margin: 0;
}

/* keep long file names in one line to not overflow download button on mobile */
.directDownload #downloadFile {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.download-size {
	opacity: .5;
}

#directLink-container {
	flex-wrap: wrap;
}

#directLink {
	margin-left: 30px;
	flex-basis: 100%;
}

/* header buttons */
#details {
	display: inline-flex;
}
#details button,
#details input,
#details .button {
	margin: 0 5px;
	line-height: normal;
}
#details button:hover,
#details input:hover,
#details .button:hover {
	/* No  */
	border-color: rgba(0,0,0,0.3) !important;
}

/* within #save */
#save .save-form {
	position: relative;
	margin-right: -10px;
}

#remote_address {
	width: 200px;
	margin-right: 4px;
	height: 31px;
}

#save-button-confirm {
	position: absolute;
	background-color: transparent;
	border: none;
	margin: 0;
	right: 0px;
	height: 40px;
}

#public-upload .avatardiv {
	margin: 0 auto;
}

#emptycontent.has-disclaimer {
	margin-top: 10vh;
}

#public-upload #emptycontent h2 {
	margin: 10px 0 5px 0;
}

#public-upload #emptycontent h2+p {
	margin-bottom: 30px;
}

#public-upload #emptycontent .icon-folder {
	height: 16px;
	width: 16px;
	background-size: 16px;
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 0;
	margin-right: 5px;
	opacity: 1;
}

#public-upload #emptycontent .button {
	display: inline-block;
	height: auto;
	width: auto;
	background-size: 16px;
	background-position: 16px;
	opacity: .7;
	font-size: 20px;
	line-height: initial;
	margin: 20px;
	padding: 10px 20px;
	padding-left: 42px;
}

#public-upload #emptycontent ul {
	width: 160px;
	margin: 5px auto;
	text-align: left;
}

#public-upload #emptycontent li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 7px 0;
}

#public-upload #emptycontent li img {
	vertical-align: text-bottom;
	margin-right: 5px;
}

#public-upload li span.icon-loading-small {
	padding-left: 18px;
	margin-right: 7px;
}

.disclaimer {
	margin: -20px auto 30px;
	max-width: 400px;
	text-align: left;
}

#header .header-shared-by  {
	display: inline-block;
	color: $color-primary-text;
	position: relative;
	top: -10px;
	font-weight: 300;
	font-size: 11px;
	opacity: .57;
	margin-top: 10px;
}
