body {
	background:#ddd;
}

#header {
	background: #1d2d44 url('%webroot%/core/img/noise.png') repeat;
	height:32px;
	left:0;
	line-height:32px;
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	padding:7px;
}

#details {
	color:#fff;
	float: left;
}

#public_upload,
#download {
	font-weight:700;
	margin: 0 0.4em 0 0;
	padding: 0 5px;
	height: 32px;
	float: left;

}

.header-right #details {
	margin-right: 28px;
}

.header-right {
	padding: 0;
	height: 32px;
}

#public_upload {
	margin-left: 0.3em;
}

#public_upload img,
#download img {
	padding-left:.1em;
	padding-right:.3em;
	vertical-align:text-bottom;
}

#preview {
	background:#eee;
	border-bottom:1px solid #f8f8f8;
	min-height:30em;
	text-align:center;
	margin:45px auto;
}

#noPreview {
	display:none;
	padding-top:5em;
}

p.info {
	color:#777;
	text-align:center;
	width:22em;
	margin:2em auto;
}

p.info a {
	color:#777;
	font-weight:700;
}

#imgframe {
	height:75%;
	padding-bottom:2em;
	padding-top:2em;
	width:80%;
	margin:0 auto;
}

#imgframe img {
	max-height:100%;
	max-width:100%;
}

thead{
	background-color: white;
	padding-left:0 !important; /* fixes multiselect bar offset on shared page */
}

#data-upload-form {
	position: relative;
	right: 0;
	height: 32px;
	overflow: hidden;
	padding: 0;
	float: right;
	display: inline;
	margin: 0;
}

#file_upload_start {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 20;
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
}

#publicUploadButtonMock {
	position:relative;
	display:block;
	width:100%;
	height:32px;
	cursor:pointer;
	z-index:10;
	background-image:url('%webroot%/core/img/actions/upload.svg');
	background-repeat:no-repeat;
	background-position:7px 8px;
}

#publicUploadButtonMock span {
	margin: 0 5px 0 28px;
	color: #555;
}

.directLink {
	margin-bottom: 20px;
}
	.directLink label {
		font-weight: normal;
	}
	.directLink input {
		margin-left: 10px;
		width: 300px;
	}
