body {
	background:#ddd;
}

#header {
	background:#1d2d44;
	box-shadow:0 0 10px rgba(0,0,0,.5), inset 0 -2px 10px #222;
	height:2.5em;
	left:0;
	line-height:2.5em;
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	padding:.5em;
}

#details {
	color:#fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
	padding-right: 5px;
}

#preview {
	background:#eee;
	border-bottom:1px solid #f8f8f8;
	min-height:30em;
	text-align:center;
	margin:45px auto;
}

#noPreview {
	display:none;
	padding-top:5em;
}

p.info {
	color: #777;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}

p.info a {
	color:#777;
	font-weight:700;
}

#imgframe {
	height:75%;
	padding-bottom:32px;
	padding-top:32px;
	width:80%;
	margin:0 auto;
}

#imgframe img {
	max-height:100%;
	max-width:100%;
}

/* some margin for the file type icon */
#imgframe .publicpreview {
	margin-top: 10%;
}

thead {
	padding-left: 0 !important; /* fixes multiselect bar offset on shared page */
}

#data-upload-form {
	position: relative;
	right: 0;
	height: 27px;
	overflow: hidden;
	padding: 0;
	float: right;
	display: inline;
	margin: 0;
}


.directDownload,
.directLink {
	margin-bottom: 20px;
}

/* keep long file names in one line to not overflow download button on mobile */
.directDownload #download {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.directDownload .button img {
	vertical-align: text-bottom;
}

.directLink label {
	font-weight: normal;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
.directLink input {
	margin-left: 5px;
	width: 300px;
	max-width: 90%;
}
