body {
	height: auto;
}

#header {
	background: #1d2d44 url('%webroot%/core/img/noise.png') repeat;
	height:32px;
	left:0;
	line-height:32px;
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	padding:7px;
}

#details {
	color:#fff;
	float: left;
}

#public_upload,
#download {
	font-weight:700;
	margin: 0 0 0 6px;
	padding: 0 5px;
	height: 32px;
	float: left;

}

.header-right #details {
	margin-right: 28px;
}

.header-right {
	padding: 0;
	height: 32px;
}

#public_upload {
	margin-left: 5px;
}

#public_upload img,
#download img {
	padding-left:2px;
	padding-right:5px;
	vertical-align:text-bottom;
}

#controls {
	left: 0;
}

#preview {
	background: #fff;
	text-align: center;
	margin: 45px auto 0;
}

#noPreview {
	display:none;
	padding-top:80px;
}

footer {
	margin-top: 65px;
}

p.info {
	color: #777;
	text-align: center;
	width: 352px;
	margin: 0 auto;
	padding: 20px;
}

p.info a {
	color:#777;
	font-weight:700;
}

#imgframe {
	height:75%;
	padding-bottom:32px;
	padding-top:32px;
	width:80%;
	margin:0 auto;
}

#imgframe img {
	max-height:100%;
	max-width:100%;
}

thead{
	background-color: white;
	padding-left:0 !important; /* fixes multiselect bar offset on shared page */
}

#data-upload-form {
	position: relative;
	right: 0;
	height: 32px;
	overflow: hidden;
	padding: 0;
	float: right;
	display: inline;
	margin: 0;
}

#file_upload_start {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 20;
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
}

#publicUploadButtonMock {
	position:relative;
	display:block;
	width:100%;
	height:32px;
	cursor:pointer;
	z-index:10;
	background-image:url('%webroot%/core/img/actions/upload.svg');
	background-repeat:no-repeat;
	background-position:7px 8px;
}

#publicUploadButtonMock span {
	margin: 0 5px 0 28px;
	color: #555;
}

.directLink {
	margin-bottom: 20px;
}
.directLink label {
	font-weight: normal;
}
.directLink input {
	margin-left: 10px;
	width: 300px;
}
.public_actions {
	padding: 4px;
}
