#mailTemplateSettings .actions div {
	display: inline-block;
}

#mailTemplateSettings div label {
	display: block
}

#mailTemplateSettings textarea {
	box-sizing: border-box;
	width: 100%;
	height: 100px;
}

#mailTemplateSettings .templateEditor + .actions {
	height:28px;
}


#mailTemplateSettings .actions .reset {
	margin: 0;
}

#mailTemplateSettings .actions .save {
	float: right;
	margin: 0;
}

#mailTemplateSettings #mts-msg {
	float: right;
	margin: 1px 5px;
	padding:3px;
}
