.app-files .shareTabView {
	min-height: 100px;
}

.shareTabView .oneline {
	white-space: nowrap;
	position: relative;
}

.shareTabView .shareWithLoading {
	padding-left: 10px;
	right: 30px;
	top: 2px;
}

.shareTabView .shareWithRemoteInfo,
.shareTabView .clipboardButton {
	position: absolute;
	right: -7px;
	top: -4px;
	padding: 14px;
}

.shareTabView label {
	white-space: nowrap;
}

.shareTabView input[type="checkbox"] {
	margin: 0 3px 0 8px;
	vertical-align: middle;
}

.shareTabView input[type="text"].shareWithField,
.shareTabView input[type="text"].emailField,
.shareTabView input[type="text"].linkText,
.shareTabView input[type="password"] {
	width: 100%;
	box-sizing: border-box;
	padding-right: 32px;
	text-overflow: ellipsis;
}

.shareTabView form {
	font-size: 100%;
	margin-left: 0;
	margin-right: 0;
}

#shareWithList {
	list-style-type: none;
	padding: 0 0 16px;
}

#shareWithList li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	white-space: normal;
	display: inline-flex;
	align-items: center;
}

#shareWithList .unshare img, #shareWithList .showCruds img {
	vertical-align: text-bottom; /* properly align icons */
}

#shareWithList .sharingOptionsGroup .icon-more {
	padding: 7px;
	vertical-align: middle;
	opacity: .5;
}

#shareWithList .unshare {
	padding: 1px 6px;
	vertical-align: text-bottom;
}
#shareWithList .unshare .icon {
	vertical-align: text-top;
}

#shareWithList .unshare .icon-delete {
	padding-right: 4px;
	background-position-x: 0;
	display: inline-block;
}

#shareWithList .sharingOptionsGroup .popovermenu:after {
	right: 3px;
}

#shareWithList label input[type=checkbox] {
	margin-left: 0;
	position: relative;
}
#shareWithList .username {
	padding-right: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
#shareWithList li label {
	padding: 6px;
	margin-right: 8px;
	vertical-align: text-top;
}

.shareTabView .icon-loading-small {
	display: inline-block;
	z-index: 1;
	margin-right: 4px;
	vertical-align: text-top;
}

.shareTabView .shareWithList .icon-loading-small:not(.hidden) + span,
.shareTabView .linkShareView .icon-loading-small:not(.hidden) + input + label:before {
	/* Hide if loader is visible */
	display: none !important;
}

.linkShareView {
	margin-top: 16px;
}

.shareTabView .linkPass .icon-loading-small {
	margin-top: 9px;
}

.shareTabView .icon {
	background-size: 16px 16px;
}
