#body-login
input[type="text"],
input[type="submit"] {
	margin-left: 0;
}

input[type="text"] {
	padding-right: 19px;
}

#body-login
input[type="submit"] {
	text-align: center;
	width: 170px;
	height: 45px;
	padding-top: 7px;
	padding-bottom: 7px;
}

fieldset {
	margin-left: 2px;
}

.white {
	color: white;
}
