#body-login
input[type="text"]#user{
	padding-right: 20px;
	padding-left: 41px;
}

#body-login
input[type="submit"] {
	text-align: center;
	width: 170px;
	height: 45px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#body-login input[type="submit"]#submit {
	width: 280px;
}

#body-login .update {
	text-align: left;
}

#body-login .update,
#body-login .error {
	margin: 10px 0 5px 0;
}

#user {
	width: 226px !important;
}
