# App maintainers
/apps/admin_audit/appinfo/info.xml            @luka-nextcloud @blizzz
/apps/cloud_federation_api/appinfo/info.xml   @mejo-
/apps/comments/appinfo/info.xml               @marcelklehr @Pytal
/apps/contactsinteraction/appinfo/info.xml    @kesselb @miaulalala @ChristophWurst @GretaD @hamza221 @st3iny
/apps/dashboard/appinfo/info.xml              @julien-nc @juliushaertl
/apps/dav/lib/CalDAV                          @ChristophWurst @miaulalala @tcitworld
/apps/dav/lib/CardDAV                         @ChristophWurst @miaulalala @tcitworld
/apps/encryption/appinfo/info.xml             @come-nc @icewind1991
/apps/federatedfilesharing/appinfo/info.xml   @icewind1991 @danxuliu
/apps/federation/appinfo/info.xml             @datenangebot
/apps/files/appinfo/info.xml                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @Fenn-CS
/apps/files_external/appinfo/info.xml         @icewind1991 @artonge
/apps/files_reminders/appinfo/info.xml        @Pytal
/apps/files_sharing/appinfo/info.xml          @skjnldsv @come-nc
/apps/files_trashbin/appinfo/info.xml         @Pytal @icewind1991
/apps/files_versions/appinfo/info.xml         @artonge @icewind1991
/apps/oauth2/appinfo/info.xml                 @julien-nc @ChristophWurst
/apps/provisioning_api/appinfo/info.xml       @provokateurin @nickvergessen
/apps/settings/appinfo/info.xml               @Pytal @JuliaKirschenheuter
/apps/systemtags/appinfo/info.xml             @Antreesy @marcelklehr
/apps/theming/appinfo/info.xml                @skjnldsv @juliushaertl
/apps/twofactor_backupcodes/appinfo/info.xml  @st3iny @miaulalala @ChristophWurst
/apps/updatenotification/appinfo/info.xml     @Pytal @JuliaKirschenheuter
/apps/user_ldap/appinfo/info.xml              @come-nc @blizzz
/apps/user_status/appinfo/info.xml            @Antreesy @nickvergessen
/apps/weather_status/appinfo/info.xml         @julien-nc @juliushaertl
/apps/workflowengine/appinfo/info.xml         @blizzz @juliushaertl

# Security team
/resources/config/ca-bundle.crt     @ChristophWurst @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Personal interest
*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen
/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan
