.challenge-form {
	margin: 16px auto 1px !important;
}

.challenge {
	margin-top: 0 !important;
	margin-left: 0 !important;
	box-sizing: border-box !important;
	width: 100% !important;
}

.confirm-inline {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 !important;
	padding-right: 25px !important;
	background-color: transparent !important;
	border: none !important;
	opacity: .5;
}
