/core/js/dist/*.js binary
/core/js/dist/*.js.map binary

/apps/accessibility/js/accessibility.js binary
/apps/accessibility/js/accessibility.js.map binary
/apps/oauth2/js/oauth2.js binary
/apps/oauth2/js/oauth2.js.map binary
/apps/twofactor_backupcodes/js/*.js binary
/apps/twofactor_backupcodes/js/*.js.map binary
/apps/updatenotification/js/updatenotification.js binary
/apps/updatenotification/js/updatenotification.js.map binary

/settings/js/settings-admin-security.js binary
/settings/js/settings-admin-security.js.map binary
/settings/js/settings-vue.js binary
/settings/js/settings-vue.js.map binary
/settings/js/0.js binary
/settings/js/0.js.map binary
