# SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2016 ownCloud, Inc.
# SPDX-License-Identifier: AGPL-3.0-only
[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "IONOS"]
	path = IONOS
	url = git@github.com:IONOS-Productivity/ncw-config.git
[submodule "apps-external/richdocuments"]
	path = apps-external/richdocuments
	url = git@github.com:nextcloud/richdocuments.git
[submodule "apps-external/viewer"]
	path = apps-external/viewer
	url = git@github.com:nextcloud/viewer.git
[submodule "apps-external/contacts"]
	path = apps-external/contacts
	url = git@github.com:nextcloud/contacts.git
[submodule "apps-external/files_antivirus"]
	path = apps-external/files_antivirus
	url = git@github.com:nextcloud/files_antivirus.git
[submodule "apps-external/calendar"]
	path = apps-external/calendar
	url = git@github.com:nextcloud/calendar.git
[submodule "apps-external/notify_push"]
	path = apps-external/notify_push
	url = git@github.com:nextcloud/notify_push.git
[submodule "apps-external/activity"]
	path = apps-external/activity
	url = git@github.com:nextcloud/activity.git
[submodule "apps-external/tasks"]
	path = apps-external/tasks
	url = git@github.com:nextcloud/tasks.git
[submodule "apps-external/fulltextsearch"]
	path = apps-external/fulltextsearch
	url = git@github.com:nextcloud/fulltextsearch.git
[submodule "apps-external/files_fulltextsearch"]
	path = apps-external/files_fulltextsearch
	url = git@github.com:nextcloud/files_fulltextsearch.git
