<?php

declare(strict_types=1);

require_once './lib/composer/autoload.php';

use Nextcloud\CodingStandard\Config;

$config = new Config();
$config
	->getFinder()
	->ignoreVCSIgnored(true)
	->exclude('config')
	->exclude('data')
	->notPath('3rdparty')
	->notPath('composer')
	->notPath('vendor')
	->in(__DIR__);
return $config;
