@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/OpenDyslexic-Bold.woff') format('woff');
}

$font-face: OpenDyslexic, 'Nunito', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
