@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/OpenDyslexic-Bold.woff') format('woff');
}

$font-face: OpenDyslexic, 'Noto Sans', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
