#accessibility {
	max-width: 800px;
}

#accessibility a {
	border-bottom: 1px dotted;

	&:hover,
	&:focus {
		border-bottom-style: solid;
	}
}

.preview-list {
	display: flex;
	flex-direction: column;
}

.preview {
	display: flex;
	justify-content: flex-start;
	margin: 1em;
	margin-left: 0;
	position: relative;

	&,
	* {
		user-select: none;
	}

	.preview-image {
		flex-basis: 200px;
		flex-shrink: 0;
		margin-right: 1em;
		background-position: top left;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: var(--border-radius);
	}

	.preview-description {
		display: flex;
		flex-direction: column;

		label {
			padding: 12px 0;
		}
	}
}
