// SCSS variables
$color-main-text: #d8d8d8;
$color-main-background: #181818;

$color-background-dark: lighten($color-main-background, 4%);
$color-background-darker: lighten($color-main-background, 8%);

$color-text-maxcontrast: darken($color-main-text, 30%);
$color-text-light: darken($color-main-text, 10%);
$color-text-lighter: darken($color-main-text, 20%);

$color-loading-light: #777;
$color-loading-dark: #ccc;

$color-box-shadow: rgba(darken($color-main-background, 70%), 0.5);

$color-border: lighten($color-main-background, 7%);
$color-border-dark: lighten($color-main-background, 14%);

#app-navigation > ul > li > a:first-child,
#app-navigation > ul > li > ul > li > a:first-child,
#contactsmenu-menu a,
#expanddiv a,
.activity-section .activity-icon.monochrome {
	img {
		filter: invert(100%);
	}
}

#navigation #apps li a,
#body-settings #content.app-settings .app-image-icon,
#body-settings #content.app-settings #app-sidebar #app-details-view h2 {
	svg {
		filter: invert(100%);
	}
}

// Otherwise icon-more gets inverted via function
#appmenu .icon-more-white {
	filter: invert(100%);
}

// since svg icons are inverted, revert to white for the header
.header-right > * {
	>[class^='icon-'] {
		filter: invert(100%);
	}
}

.bubble,
.app-navigation-entry-menu,
.popovermenu {
	li {
		> button,
		> a,
		> .menuitem {
			> img {
				filter: invert(100%);
			}
		}
	}
}
.bubble,
.app-navigation-entry-menu,
.popovermenu,
#header .menu {
	border: 1px solid var(--color-border);
}

// Prevent slideshow icons from going dark
#slideshow {
	[class^='icon-'], [class*=' icon-']{
		filter: invert(100%);
	}
}

input[type=checkbox] {
	&.checkbox {
		&:checked + label:before {
			background-image: url('../../../core/img/actions/checkbox-mark-dark.svg');
		}

		&:indeterminate + label:before {
			background-image: url('../../../core/img/actions/checkbox-mixed-dark.svg');
		}
	}
}
