<div id="files_external_div_form"><div>
	<div>{{credentials_text}}</div>
		<form>
			<input type="text" name="username" placeholder="{{placeholder_username}}"/>
			<input type="password" name="password" placeholder="{{placeholder_password}}"/>
		</form>
	</div>
</div>
