#folderlist li { margin-bottom:1em; }
#folderlist button.prettybutton { font-size:1em; width:10em; }
li button.right.prettybutton { font-size:1em; }
#collection { padding-top:1em; position:relative; width:70em; float:left; }
#collection li.album,#collection li.song { margin-left:3em; }
#leftcontent img.remove { display:none; float:right; cursor:pointer; }
#leftcontent li:hover img.remove { display:inline; }
#collection li button { float:right; }
#collection li,#playlist li { list-style-type:none; }
.template { display:none; }

#collection li { padding-right:10px; }
#searchresults input.play, #searchresults input.add { float:left; height:1em; width:1em; }
#collection tr.collapsed td.album, #collection tr.collapsed td.title { color:#ddd; }
a.expander { float:right; display:block; }
tr.active { background-color:#eee; }
