.right{
	float:right;
}

#folderlist li{
	list-style-type:none;
	margin-bottom:10px;
}

#folderlist button.prettybutton{
	font-size:1em;
	width:10ex;
}

li button.right.prettybutton{
	font-size:1em;
}

#collection{
	padding-top:1em;
	position:relative;
	width:70ex;
	float:left;
}

#collection li{
	list-style-type:none;
}

#collection li button{
	float:right;
}

#collection li.album, #collection li.song{
	margin-left:3ex;
}