<span class="info">
	<span class="dirinfo"></span>
	<span class="connector">{{connectorLabel}}</span>
	<span class="fileinfo"></span>
	<span class="hiddeninfo"></span>
	<span class="filter"></span>
</span>
