<form class="filenameform">
	<input id="{{cid}}-input-{{fileType}}" type="text" value="{{fileName}}" autocomplete="off" autocapitalize="off">
	<input type="submit" value=" " class="icon-confirm" />
</form>
