<div id="uploadprogressbar">
	<em class="label outer" style="display:none"></em>
</div>
<button class="stop icon-close" style="display:none">
	<span class="hidden-visually">{{textCancelButton}}</span>
</button>
