<div id="uploadprogressbar">
	<em class="label outer" style="display:none"><span class="desktop">{{textDesktop}}</span><span class="mobile">{{textMobile}}</span></em>
</div>
<button class="stop icon-close" style="display:none">
	<span class="hidden-visually">{{textCancelButton}}</span>
</button>
