.systemtag-input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.systemtag-input--name {
	margin-right: 3px;
}
.systemtag-input--name,
.systemtag-input--level {
	display: flex;
	flex-direction: column;
}
.systemtag-input--actions {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
}
#systemtags .select2-container {
	width: 100%;
	max-width: 400px;
}
#systemtags .select2-container .select2-choice {
	height: auto;
}
#systemtag_name {
	width: 100%;
	max-width: 400px;
}