/*!
 * SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-user-status {
	background-image: url("../img/app.svg");
}

.icon-user-status-dark {
	background-image: url("../img/app-dark.svg");
	filter: var(--background-invert-if-dark);
}
