<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
	<testsuite name='ownCloud'>
		<directory suffix='.php'>lib/</directory>
		<file>apps.php</file>
	</testsuite>
	<!-- filters for code coverage -->
	<whitelist processUncoveredFilesFromWhitelist="true">
		<directory suffix=".php">..</directory>
		<exclude>
			<directory suffix=".php">../3rdparty</directory>
		</exclude>
	</whitelist>
	<listeners>
		<listener class="PHPUnit_Util_Log_JSON"></listener>
	</listeners>
</phpunit>
