#editor{
	position: fixed;
	display: block;
	top: 6.5em;
	left: 12.5em;
}
#editorwrapper{
	position: absolute;
	height: 0;
	width: 0;
	top: 41px;
	left: 160px;
	display: none;
}
#editor_save{
	margin-left: 7px;
	float: left;
}
#saving_icon{
	margin-top: 3px;
	float: left;
}
