#editor{
	position: absoloute;
	height: 0;
	width: 0;
	top: 41px;
	left: 160px;
	z-index: -1;
}
#editorwrapper{
	position: absoloute;
	height: 0;
	width: 0;
	top: 41px;
	left: 160px;
	display: none;
}
#editor_close{
	margin-left: auto;
	margin-right: 167px;	
	display: block;
}
#editor_save{
	margin-left: 7px;
	float: left;	
}