<ul class="versions"></ul>
<div class="clear-float"></div>
<div class="empty hidden">
	<div class="emptycontent">
		<div class="icon-history"></div>
		<p>{{emptyResultLabel}}</p>
	</div>
</div>
<input type="button" class="showMoreVersions hidden" value="{{moreVersionsLabel}}" name="show-more-versions" id="show-more-versions" />
<div class="loading hidden" style="height: 50px"></div>
