/*dl > dt {
	font-weight: bold;
}*/

#contacts { padding-left:2px; padding-top: 5px; background: #fff; }
#leftcontent a { height: 23px; display: block; margin: 0 0 0 0; padding: 0 0 0 25px; }
#chooseaddressbook {margin-right: 170px; float: right;}
#contacts_deletecard {position:absolute;top:15px;right:25px;}
#contacts_downloadcard {position:absolute;top:15px;right:50px;}
#contacts_propertymenu_button { position:absolute;top:15px;right:150px; height: 20px; width: 150px; background:url('../../../core/img/actions/add.svg') no-repeat center;	 }
#contacts_propertymenu { position:absolute;top:40px;right:150px; overflow:hidden; text-overflow:ellipsis; /*border: thin solid #1d2d44;*/  -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000; -moz-border-radius:0.5em; -webkit-border-radius:0.5em; border-radius:0.5em; -moz-border-radius:0.5em; -webkit-border-radius:0.5em; border-radius:0.5em; }
#contacts_propertymenu li { display: block; font-weight: bold; height: 20px; width: 100px; }
/*#contacts_propertymenu li:first-child { border-top: thin solid #1d2d44; -moz-border-radius-topleft:0.5em; -webkit-border-top-left-radius:0.5em; border-top-left-radius:0.5em; -moz-border-radius-topright:0.5em; -webkit-border-top-right-radius:0.5em; border-top-right-radius:0.5em; }
#contacts_propertymenu li:last-child { border-bottom: thin solid #1d2d44; -moz-border-radius-bottomleft:0.5em; -webkit-border-bottom-left-radius:0.5em; border-bottom-left-radius:0.5em; -moz-border-radius-bottomright:0.5em; -webkit-border-bottom-right-radius:0.5em; border-bottom-right-radius:0.5em; }*/
#contacts_propertymenu li a { padding: 3px; display: block }
#contacts_propertymenu li:hover { background-color: #1d2d44; }
#contacts_propertymenu li a:hover { color: #fff }
#actionbar { height: 30px; width: 200px; position: fixed; right: 0px; top: 75px; margin: 0 0 0 0; padding: 0 0 0 0;}
#card { /*max-width: 70em; border: thin solid lightgray; display: block;*/ }
#firstrun { /*border: thin solid lightgray;*/ width: 80%; margin: 5em auto auto auto; text-align: center; font-weight:bold; font-size:1.5em;  color:#777;}
#firstrun #selections { /*border: thin solid lightgray;*/ font-size:0.8em;  width: 100%; margin: 2em auto auto auto; clear: both; }

#card input[type="text"],input[type="email"],input[type="tel"],input[type="date"], select { background-color: #f8f8f8; border: 0 !important; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; float: left; }
#card input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active,input[type="email"]:hover,input[type="tel"]:hover,input[type="date"]:hover,input[type="date"],input[type="date"]:hover,input[type="date"]:active,input[type="date"]:active,input[type="date"]:active,input[type="email"]:active,input[type="tel"]:active, select:hover, select:focus, select:active { border: 0 !important; -webkit-appearance:textfield; -moz-appearance:textfield; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; background:#fff; color:#333; border:1px solid #ddd; -moz-box-shadow:0 1px 1px #fff, 0 2px 0 #bbb inset; -webkit-box-shadow:0 1px 1px #fff, 0 1px 0 #bbb inset; box-shadow:0 1px 1px #fff, 0 1px 0 #bbb inset; -moz-border-radius:.5em; -webkit-border-radius:.5em; border-radius:.5em; outline:none; float: left; }
input[type="text"]:invalid,input[type="email"]:invalid,input[type="tel"]:invalid,input[type="date"]:invalid { background-color: #ffc0c0 !important; }
/*input[type="text"]:valid,input[type="email"]:valid,input[type="tel"]:valid,input[type="date"]:valid { background-color: #b1d28f !important; }*/
dl.form
{
	width: 100%;
	float: left;
	clear: right;
	margin: 0;
	padding: 0;
}

.form dt
{
	display: table-cell;
	clear: left;
	float: left;
	width: 7em;
	/*overflow: hidden;*/
	margin: 0;
	padding: 0.8em 0.5em 0 0;
	font-weight: bold;
	text-align:right;
	text-overflow:ellipsis;
	o-text-overflow: ellipsis;
	vertical-align: text-bottom;
	/*
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;*/
}

.form dd
{
	display: table-cell;
	clear: right;
	float: left;
	margin: 0;
	padding: 0px;
	white-space: nowrap;
	vertical-align: text-bottom;
	/*min-width: 20em;*/
	/*background-color: yellow;*/
}

.loading { background: url('../../../core/img/loading.gif') no-repeat center !important;}

/*.add { cursor: pointer;  width: 25px; height: 25px; margin: 0px; float: right; position:relative; content: "\+"; font-weight: bold; color: #666; font-size: large; bottom: 0px; right: 0px; clear: both; text-align: center; vertical-align: bottom; display: none; }*/

.listactions { height: 1em; width:60px; float: left; clear: right; }
.add,.edit,.delete,.mail, .globe { cursor: pointer; width: 20px; height: 20px; margin: 0; float: left; position:relative; display: none; }
.add { background:url('../../../core/img/actions/add.svg') no-repeat center; clear: both; }
.delete { background:url('../../../core/img/actions/delete.svg') no-repeat center; }
.edit { background:url('../../../core/img/actions/rename.svg') no-repeat center; }
.mail { background:url('../../../core/img/actions/mail.svg') no-repeat center; }
.globe { background:url('../img/globe.svg') no-repeat center; }

#messagebox_msg { font-weight: bold; font-size: 1.2em; }

/* Name editor */
#edit_name_dialog {
	/*width: 25em;*/
	padding:0;
}
#edit_name_dialog > input {
	width: 15em;
}
/* Address editor */
#edit_address_dialog {
	/*width: 30em;*/
}
#edit_address_dialog > input {
	width: 15em;
}
#edit_photo_dialog_img {
	display: block;
	width: 150;
	height: 200;
	border: thin solid black;
}
#fn {
	float: left;
}
.jecEditableOption {
	margin: 2px;
	border-radius: 0.5em;
	border: thin solid #bbb;
	content: 'Custom';
}
/**
 * Create classes form, floateven and floatodd which flows left and right respectively.
 */
.contactsection { 
	float: left; 
	min-width: 30em;
	max-width: 40em;
	margin: 0.5em;
	border: thin solid lightgray;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #f8f8f8;
}

.contactpart legend {
	/*background: #fff;
	font-weight: bold;
	left: 1em;
	border: thin solid gray;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding: 3px;*/
width:auto; padding:.3em; border:1px solid #ddd; font-weight:bold; cursor:pointer; background:#f8f8f8; color:#555; text-shadow:#fff 0 1px 0; -moz-box-shadow:0 1px 1px #fff, 0 1px 1px #fff inset; -webkit-box-shadow:0 1px 1px #fff, 0 1px 1px #fff inset; -moz-border-radius:.5em; -webkit-border-radius:.5em; border-radius:.5em;
}
/*#contacts_details_photo { 
	cursor: pointer; 
	z-index:1; 
	margin: auto;
}
*/
#cropbox { 
	margin: auto;
}

/* Photo editor */
/*#contacts_details_photo_wrapper {
	z-index: 1000;
}*/
#contacts_details_photo {
	border-radius: 0.5em;
	border: thin solid #bbb;
	padding: 0.5em;
	margin: 1em 1em 1em 7em;
	cursor: pointer;
	/*background: #f8f8f8;*/
	background: url(../../../core/img/loading.gif) no-repeat center center;
	clear: right;
}
#contacts_details_photo:hover {
	background: #fff;
}
#contacts_details_photo_progress {
	margin: 0.3em 0.3em 0.3em 7em;
	clear: left;
}
/* Address editor */
#addressdisplay { padding: 0.5em; }
dl.addresscard { background-color: #fff; float: left; width: 45%; margin: 0 0.3em 0.3em 0.3em; padding: 0; border: thin solid lightgray; }
dl.addresscard dd {}
dl.addresscard dt { padding: 0.3em; border-bottom: thin solid lightgray; font-weight: bold; clear: both;}
dl.addresscard dd > ul { margin: 0.3em; padding: 0.3em; }
#adr_type {} /* Select */
#adr_pobox {}
#adr_extended {}
#adr_street {}
#adr_city {}
#adr_region {}
#adr_zipcode {}
#adr_country {}

.delimiter {
	height: 10px;
	clear: both;
}
.updatebar {
	height: 30px;
	clear: both;
	padding-right: 170px;
	border: thin solid lightgray;
}
.updatebar button {
	float: left; margin: 1em;
}

/*input[type="text"] { float: left; max-width: 15em; }
input[type="radio"] { float: left; -khtml-appearance: none; width: 20px; height: 20px; vertical-align: middle; }*/
#file_upload_target, #crop_target { display:none; }

#file_upload_start { opacity:0; filter:alpha(opacity=0); z-index:1; position:absolute; left:0; top:0; cursor:pointer; width:0; height:0;}
input[type="checkbox"] { width: 20px; height: 20px; vertical-align: bottom; }
.propertycontainer dd { float: left; width: 25em; }
.propertylist { clear: none; max-width: 28em; }
.propertylist li { /*background-color: cyan; */ min-width: 25em; /*max-width: 30em;*/ display: block; clear: right; }
.propertylist li > input[type="text"],input[type="email"],input[type="tel"] { float: left; max-width: 15em; }
.propertylist li > input[type="checkbox"],input[type="radio"] { float: left; clear: left; width: 20px; height: 20px; vertical-align: middle; }
.propertylist li > select { float: left; max-width: 8em; }
.typelist { float: left; max-width: 10em; } /* for multiselect */
.addresslist { clear: both; }