#contacts { padding-left:5px; padding-top: 5px; background: #fff; }
#contacts li { padding-left:25px;background:url('../img/person.svg') no-repeat; }
#chooseaddressbook {margin-right: 170px; float: right;}
#contacts_details_name { font-weight:bold;font-size:1.1em;margin-left:25%;}
#contacts_details_photo { margin:.5em 0em .5em 25%; }

#contacts_deletecard {position:absolute;top:15px;right:0;}
#contacts_details_list { list-style:none; }
#contacts_details_list li { overflow:visible; }
#contacts_details_list li p.contacts_property_name { width:25%; float:left;text-align:right;padding-right:0.3em;color:#666; }
#contacts_details_list li p.contacts_property_data, #contacts_details_list li ul.contacts_property_data { width:72%;float:left; }
#contacts_setproperty_button { margin-left:25%; }

.contacts_property_data ul, ol.contacts_property_data { list-style:none; }
.contacts_property_data li { overflow: hidden; }
.contacts_property_data li label { width:20%; float:left; text-align:right;padding-right:0.3em; }
.contacts_property_data input { float:left; }
.contacts_property_data li input { width:70%;overflow:hidden; }

.chzn-container { margin:3px 0 0; }
.chzn-container .chzn-choices { border-radius: 0.5em; }
.chzn-container.chzn-container-active .chzn-choices { border-bottom-left-radius: 0;border-bottom-right-radius: 0; }
.chzn-container .chzn-drop { border-bottom-left-radius: 0.5em;border-bottom-right-radius: 0.5em; }

/* Form setup ----------------------------------------------------------------*/
/* .forme {} */
/* .forme ul, .forme ol { list-style:none; } */
/* .forme .inputs, .forme .buttons { overflow: hidden; } */

/* Labels --------------------------------------------------------------------*/
/* .forme .input .label { width:25%; float:left; display:block; } */

/* Inputs --------------------------------------------------------------------*/
/* .forme .stringish input { width:72%; } */
/* .forme .text textarea { width:72%; } */

/* Buttons -------------------------------------------------------------------*/
/* .forme .buttons { padding-left:25%; } */
/* .forme .button { float:left; padding-left:0.5em; } */
