<h1>Settings</h1>

<form action="" type="">
  <p>
    <span>New password:</span>
    <input type="password" name="newpassword" value="">
  </p>
  <p>
    <span>Confirm new password:</span>
    <input type="password" name="newpasswordconfirm" value="">
  </p>
  <p>
    <span>Old password:</span>
    <input type="password" name="password" value="">
  </p>
  <p>
    <input type="submit" name="submit" value="Send">
  </p>
</form>
