{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 11"]
				},
				"modules": false,
        "blacklist": ["useStrict"],
        "useBuiltIns": true
			}
		]
	]
}
