#manual { 
	float: left;
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	margin: 0.5em; 
	padding: 1em; 
	overflow: auto; 
	background-color :#f8f8f8;
	color: #555;
	border: 1px solid #ddd;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-transition:background-color 200ms; -moz-transition:background-color 200ms; -o-transition:background-color 200ms; transition:background-color 200ms;
}
#manual nav { position: fixed; top: 5em; width: 15%; font-weight: bold; font-size: 1.2em; }
#manual ol { list-style: decimal; padding-left: 3em; }
#manual section { float:right; width: 80%; height: 95%; padding: 1em; font-size: 1.2em; }
#manual a { color: #555; }
#manual a:hover { color: #333; }
#manual li:hover { color: #333; background-color:#eee; }
code, pre { font-family: "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", monospace; }
code { margin: 0; padding: 0; }
pre { overflow:auto; display:block; margin: 1em; padding: 1em; background-color:#f5f5f5; border:1px solid rgba(0, 0, 0, 0.15); border-radius:4px;white-space:pre;}
h1 { font-size: 1.6em; font-weight: bold; padding: 0.2em 0.2em 0.8em 0.2em; }
h2 { font-size: 1.2em; font-weight: bold; padding: 1em 0.2em 0.8em 0em;  }
h3 { font-size: 1em; font-weight: bold; }
.readmore { font-weight: bold; }
