:root {
  --color-main-background: #ffffff;
  --color-main-background-rgb: 255,255,255;
  --color-main-background-translucent: rgba(var(--color-main-background-rgb), .97);
  --gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
  --color-background-hover: #f5f5f5;
  --color-background-dark: #ededed;
  --color-background-darker: #dbdbdb;
  --color-placeholder-light: #e6e6e6;
  --color-placeholder-dark: #cccccc;
  --color-primary: #0082c9;
  --color-primary-text: #ffffff;
  --color-primary-hover: #329bd3;
  --color-primary-light: #e5f2f9;
  --color-primary-light-text: #0082c9;
  --color-primary-light-hover: #1e2b32;
  --color-primary-text-dark: #ededed;
  --color-primary-element: #0082c9;
  --color-primary-element-hover: #198ece;
  --color-primary-element-light: #17adff;
  --color-primary-element-lighter: #d8ecf6;
  --color-main-text: #222222;
  --color-text-maxcontrast: #767676;
  --color-text-light: #222222;
  --color-text-lighter: #767676;
  --color-error: #e9322d;
  --color-error-hover: #ed5a56;
  --color-warning: #eca700;
  --color-warning-hover: #efb832;
  --color-success: #46ba61;
  --color-success-hover: #6ac780;
  --color-loading-light: #cccccc;
  --color-loading-dark: #444444;
  --color-box-shadow-rgb: 77,77,77;
  --color-box-shadow: rgba(var(--color-box-shadow-rgb), 0.5);
  --color-border: #ededed;
  --color-border-dark: #dbdbdb;
  --font-face: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, Ubuntu, 'Helvetica Neue', Arial, sans-serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --default-font-size: 15px;
  --animation-quick: 100ms;
  --animation-slow: 300ms;
  --border-radius: 3px;
  --border-radius-large: 10px;
  --border-radius-pill: 100px;
  --default-line-height: 24px;
  --header-height: 50px;
  --navigation-width: 300px;
  --sidebar-min-width: 300px;
  --sidebar-max-width: 500px;
  --list-min-width: 200px;
  --list-max-width: 300px;
  --header-menu-item-height: 44px;
  --header-menu-profile-item-height: 66px;
  --breakpoint-mobile: 1024px;
  --primary-invert-if-bright: unset;
  --background-invert-if-dark: unset;
}
