#theming input {
    width: 17em;
}

#theming .upload-logo-field {
    display: none;
}

#theming div > label {
    position: relative;
}

#theming .theme-undo {
    position: absolute;
    top: -7px;
    right: 7px;
    cursor: pointer;
    opacity: .3;
    padding: 7px;
    vertical-align: top;
    display: inline-block;
    visibility: hidden;
}
#theming form .theme-undo {
    position: relative;
    top: 4px;
    left: 158px;
    visibility: visible;
}
#theming input[type='text']:focus + .theme-undo,
#theming input[type='text']:active + .theme-undo {
    visibility: visible;
}

#theming .icon-loading-small:after {
    margin: -10px 0 0 -10px;
}

#theming label span {
    display: inline-block;
    min-width: 120px;
    padding: 8px 0px;
    vertical-align: top;
}

#theming .icon-loading-small {
    display: inline-flex;
    padding: 8px;
    margin: 2px 0px;
}

#theming .icon-upload {
    padding: 8px 20px;
    width: 20px;
    margin: 2px 0px;
    min-height: 32px;
    display: inline-block;
}

#theming_settings_status {
    height: 26px;
    margin: 10px;

}
#theming_settings_loading.icon-loading-small {
    float: left;
    padding: 0;
    margin-right: 10px;
}
div#theming_settings_msg {
    margin: 8px;
    margin-left:20px;
    display: inline-block;
}

#theming-preview {
    width: 230px;
    height: 140px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-left: 123px;
    margin-top: 10px;
}

#theming-preview img {
    max-width: 20%;
    max-height: 20%;
    margin-top: 20px;
}
