#theming input {
    width: 230px;
}

#theming input:focus,
#theming input:active {
    padding-right: 30px;
}

#theming .upload-logo-field {
    display: none;
}

#theming div > label {
    position: relative;
}

#theming .theme-undo {
    position: absolute;
    top: -7px;
    right: 7px;
    cursor: pointer;
    opacity: .3;
    padding: 7px;
    vertical-align: top;
    display: inline-block;
    visibility: hidden;
}
form.uploadButton {
    width: 411px;
}
#theming form .theme-undo,
#theming .theme-remove-bg {
    cursor: pointer;
    opacity: .3;
    padding: 7px;
    vertical-align: top;
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
    right: 0px;
    visibility: visible;
}
#theming input[type='text']:hover + .theme-undo,
#theming input[type='text'] + .theme-undo:hover,
#theming input[type='text']:focus + .theme-undo,
#theming input[type='text']:active + .theme-undo {
    visibility: visible;
}

#theming label span {
    display: inline-block;
    min-width: 175px;
    padding: 8px 0px;
    vertical-align: top;
}

#theming .icon-upload,
#theming .uploadButton .icon-loading-small {
    padding: 8px 20px;
    width: 20px;
    margin: 2px 0px;
    min-height: 32px;
    display: inline-block;
}

#theming_settings_status {
    height: 26px;
    margin: 10px;
}

#theming_settings_loading {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#theming_settings_msg {
    vertical-align: middle;
    border-radius: 3px;
}

#theming-preview-logo {
    cursor: pointer;
}

#theming-preview {
    width: 230px;
    height: 140px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-left: 178px;
    margin-top: 10px;
    cursor: pointer;
}

#theming-preview img {
    max-width: 20%;
    max-height: 20%;
    margin-top: 20px;
}

.theming-hints {
    margin-top: 20px;
}
