.help-includes {
	overflow: hidden !important;
}

.help-list__link {
	display: flex;
	align-items: center;
	height: var(--default-clickable-area);
	margin: 0 8px;
	background-position: left center;
}

.help-list__text {
	margin-left: 20px;
}

.help-iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: auto;
}

.help-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.help-content__heading {
	text-align: center;
	padding: 20px;
}

.help-content {
	display: block;
	padding: 20px;
}

.help-content__body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.help-content__body > .button {
	margin: 20px;
}
