<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.webodf" android:versionCode="1" android:versionName="1.0">
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:resizeable="true" android:anyDensity="true" />
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
	<application android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".WebODFActivity"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="application/vnd.oasis.opendocument.text" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="application/vnd.oasis.opendocument.presentation" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			</intent-filter>
		</activity>
		<activity android:name="com.phonegap.DroidGap" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
			</intent-filter>
		</activity>
	</application>

</manifest>
