# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
global
	log stdout format raw local0
	maxconn 1024

defaults
	log global
	mode http
	option httplog
	timeout connect 5s
	timeout client 30s
	timeout server 30s

resolvers docker
	nameserver dns 127.0.0.11:53
	resolve_retries 3
	timeout resolve 1s
	timeout retry 1s
	hold valid 10s

frontend web
	bind :80
	http-request set-header X-Forwarded-Proto http
	http-request set-header X-Forwarded-Host %[req.hdr(Host)]
	default_backend nextcloud

backend nextcloud
	balance roundrobin
	option forwardfor
	http-check send meth GET uri /status.php ver HTTP/1.1 hdr Host localhost:8080
	http-check expect status 200
	server-template app 3 app:80 check resolvers docker init-addr libc,none
