#leftcontent a { font-weight: bold; }
#metadata { position: fixed; background-color: #ccc; width: 20em; right: 0; top: 6.5em; bottom: 0; overflow: auto; padding: 1em; margin: 0; font-size: 1em; font-weight: bold; }
#metadata :disabled.property { background-color: #ccc; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
#entry { position: fixed; background: #fff; top: 6.5em; bottom: 0; left: 32.5em !important; right: 22em;  padding: 1em; margin: 0; }
div.propertycontainer[data-type="DESCRIPTION"] { height: 90%; }
#description { width: 95%; height: 90%; }
.rte-content { position: absolute; left: 1em; right: 1em; top: 7em; bottom: 1em; overflow: auto; }
#summary { width: 95%; font-size: 1.4em; font-weight: bold; height: 1.6em; }
.editable,.content { font-size: 1.2em; background-color: #fff !important; border: 1px solid #fff !important; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: text; }
.editable:hover,.editable:focus,.editable:hover:active { border: 1px solid #1d2d44 !important; }
#categories,#organizer,#location,#link { width: 18em; clear: right; }
#dtstartdate { width: 10em; }
#dtstarttime { width: 5em; }
.loading { background: url('%webroot%/core/img/loading.gif') no-repeat center !important; cursor: wait; }
.action { padding-left: 0.5em; }
label,dt { color: #aaa; }
label:hover, dt:hover { color: #333; }
.required { color: red; border: 3px solid red; }
input { font-size: 1em; font-weight: bold; }