h2 {
	font-size:2em;
	font-weight:700;
	margin-bottom:1em;
	white-space:nowrap;
}

ul.scopes {
	list-style:disc;
}

ul.scopes li {
	white-space:nowrap;
}

h2 img {
	width:50%;
}

#oauth {
	width:20em;
	margin:4em auto 2em;
}

#allow-auth {
	background-color:#5c3;
	box-shadow:0 1px 1px #fff, 0 1px 1px #5f3 inset;
	color:#fff;
	text-shadow:#5e3 0 1px 0;
}

#deny-auth {
	background:none;
	border:0;
	box-shadow:0 0 0 #fff, 0 0 0 #fff inset;
	font-size:1.2em;
	margin:.7em;
	padding:0;
}