// CSS4 Variables
// Remember, you cannot use scss functions with css4 variables
// All css4 variables must be fixed! Scss is a PRE processor
// css4 variables are processed after scss!
:root {
	--color-main-text: #{$color-main-text};
	--color-main-background: #{$color-main-background};
	--color-main-background-translucent: #{$color-main-background-translucent};

	// To use like this: background-image: linear-gradient(0, var(--gradient-main-background));
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;

	--color-background-hover: #{$color-background-hover};
	--color-background-dark: #{$color-background-dark};
	--color-background-darker: #{$color-background-darker};

	--color-placeholder-light: #{$color-placeholder-light};
	--color-placeholder-dark: #{$color-placeholder-dark};

	--color-primary: #{$color-primary};
	--color-primary-hover: #{$color-primary-hover};
	--color-primary-light: #{$color-primary-light};
	--color-primary-light-hover: #{$color-primary-light-hover};
	--color-primary-text: #{$color-primary-text};
	--color-primary-light-text: #{$color-primary-light-text};
	--color-primary-text-dark: #{$color-primary-text-dark};
	--color-primary-element: #{$color-primary-element};
	--color-primary-element-hover: #{$color-primary-element-hover};
	--color-primary-element-light: #{$color-primary-element-light};
	--color-primary-element-lighter: #{$color-primary-element-lighter};

	--color-error: #{$color-error};
	--color-error-hover: #{$color-error-hover};
	--color-warning: #{$color-warning};
	--color-warning-hover: #{$color-warning-hover};
	--color-success: #{$color-success};
	--color-success-hover: #{$color-success-hover};

	--color-text-maxcontrast: #{$color-text-maxcontrast};
	--color-text-light: #{$color-main-text};
	--color-text-lighter: #{$color-text-maxcontrast};

	--image-logo: #{$image-logo};
	--image-login-background: #{$image-login-background};
	--image-logoheader: #{$image-logoheader};
	--image-favicon: #{$image-favicon};

	--color-loading-light: #{$color-loading-light};
	--color-loading-dark: #{$color-loading-dark};

	--color-box-shadow: #{$color-box-shadow};

	--color-border: #{$color-border};
	--color-border-dark: #{$color-border-dark};


	--border-radius: #{$border-radius};
	--border-radius-large: #{$border-radius-large};
	--border-radius-pill: #{$border-radius-pill};

	--font-face: #{$font-face};
	--default-font-size: #{$default-font-size};

	--default-line-height: #{$default-line-height};

	--animation-quick: #{$animation-quick};
	--animation-slow: #{$animation-slow};

	--header-height: #{$header-height};

	--breakpoint-mobile: #{$breakpoint-mobile};
}
