/*!
 * SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

li {
	word-wrap: break-word;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
