/* ---- BROWSER-SPECIFIC FIXES ---- */

/* remove dotted outlines in Firefox */
::-moz-focus-inner {
	border: 0;
}

.lte8 .delete-icon { background-image: url('../img/actions/delete.png'); }
.lte8 .delete-icon:hover, .delete-icon:focus {
	background-image: url('../img/actions/delete-hover.png');
}

/* IE8 needs background to be set to same color to make transparency look good. */
.lte9 #body-login form input[type="text"] {
	border: 1px solid lightgrey; /* use border to add 1px line between input fields */
	background-color: white; /* don't change background on hover */
}
.lte9 #body-login form input[type="password"] {
	/* leave out top border for 1px line between input fields*/
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	background-color: white; /* don't change background on hover */
}
.lte9 #body-login form label.infield {
	background-color: white; /* don't change background on hover */
	-ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='white')";
}

/* disable opacity of info text on gradient
   since we cannot set a good backround color to use the filter&background hack as with the input labels */
.lte9 #body-login p.info {
	filter: initial;
}

/* deactivate show password toggle for IE. Does not work for 8 and 9+ have their own implementation. */
.ie #show, .ie #show+label {
	display: none;
	visibility: hidden;
}

/* fix installation screen rendering issue for IE8+9 */
.lte9 #body-login {
	height: auto !important;
}

/* oc-dialog only uses box shadow which is not supported by ie8 */
.ie8 .oc-dialog {
	border: 1px solid #888888;
}

/* IE8 doesn't support transparent background - let's emulate black with an opacity of .3 on a dark blue background*/
.ie8 fieldset .warning, .ie8 #body-login .error {
	background-color: #1B314D;
}
