/*!
 * SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/* ---- BROWSER-SPECIFIC FIXES ---- */

/* remove dotted outlines in Firefox */
::-moz-focus-inner {
	border: 0;
}

