@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: normal;
	src: local('Nunito Regular'), local('Nunito-Regular'),
		url('../fonts/Nunito-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: bold;
	src: local('Nunito Bold'), local('Nunito-Bold'),
		url('../fonts/Nunito-Bold.ttf') format('ttf');
}
