/*!
 * SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
 * SPDX-FileCopyrightText: 2015 ownCloud Inc.
 * SPDX-FileCopyrightText: 2015 Raghu Nayyar, http://raghunayyar.com
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Global Components */

/* The following lines are a hacky way to adjust float and clear based on direction.
 Samsung Internet doesn't support `inline-start|end` and :dir.
 pull-right|left and clear-right|left are also kept for backward compatibility.
  */
body[dir='ltr'] {
	.pull-left,
	.pull-start {
		float: left;
	}

	.pull-right,
	.pull-end {
		float: right;
	}

	.clear-left,
	.clear-start {
		clear: left;
	}

	.clear-right,
	.clear-end {
		clear: right;
	}
}

body[dir='rtl'] {
	.pull-left,
	.pull-start {
		float: right;
	}

	.pull-right,
	.pull-end {
		float: left;
	}

	.clear-left,
	.clear-start {
		clear: right;
	}

	.clear-right,
	.clear-end {
		clear: left;
	}
}

.clear-both {
	clear: both;
}

.hidden {
	display: none;
}

.hidden-visually {
	position: absolute;
	inset-inline-start: -10000px;
	top: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.bold {
	font-weight:600;
}

.center {
	text-align:center;
}

.inlineblock {
	display: inline-block;
}
