@import 'styles.scss';
@import 'inputs.scss';
@import 'header.scss';
@import 'icons.scss';
@import 'apps.scss';
@import 'global.scss';
@import 'fixes.scss';
@import 'mobile.scss';
@import 'tooltip.scss';
// If you include .css, it will be imported as url
@import '../../node_modules/@nextcloud/dialogs/dist/index';
@import 'public.scss';
