@use 'variables';
@import 'functions';

.toastify.toast {
	min-width: 200px;
	background: none;
	background-color: var(--color-main-background);
	color: var(--color-main-text);
	box-shadow: 0 0 6px 0 var(--color-box-shadow);
	padding: 12px;
	padding-right: 34px;
	margin-top: 45px;
	position: fixed;
	z-index: 9000;
	border-radius: var(--border-radius);

	.toast-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 38px;
		opacity: 0.4;
		padding: 12px;
		@include icon-color('close', 'actions', variables.$color-black, 2, true);
		background-position: center;
		background-repeat: no-repeat;
		text-indent: 200%;
		white-space: nowrap;
		overflow: hidden;

		&:hover, &:focus, &:active {
			cursor: pointer;
			opacity: 1;
		}
	}
}
.toastify.toastify-top {
	right: 10px;
}

.toast-error {
	border-left: 3px solid var(--color-error);
}
.toast-info {
	border-left: 3px solid var(--color-primary);
}
.toast-warning {
	border-left: 3px solid var(--color-warning);
}
.toast-success {
	border-left: 3px solid var(--color-success);
}
