$color-main-text: #000000;
$color-main-background: #ffffff;
$color-primary: #0082c9;
$color-primary-text: #ffffff;
$color-error: #e9322d;
$color-warning: #ffcc44;
$color-success: #46ba61;


$image-logo: '../img/logo-icon.svg?v=1';
$image-login-background: '../img/background.jpg?v=1';

$color-main-text-dimmed: #555555;
$color-main-background-dimmed: #f0f0f0;

$color-box-shadow: rgba(lighten($color-main-text-dimmed, 25%), 0.75);
$color-loading: #969696;
$color-loading-dark: #bbbbbb;


// need to be reduced/replaced
$color-main-old-ff0000: $color-error;
$color-main-old-ffdddd: rgba($color-error, .15);

$color-main-old-f8f8f8: #f8f8f8;
$color-main-old-eeeeee: #eee;
$color-main-old-dddddd: #ddd;
$color-main-old-dcdcdc: rgb(220, 220, 200);
$color-main-old-d3d3d3: #d3d3d3;
$color-main-old-cccccc: #ccc;
$color-main-old-bbbbbb: rgb(198, 198, 198);
$color-main-old-bebebe: rgb(190, 190, 190);
$color-main-old-bbbbbb: #bbb;
$color-main-old-aaaaaa: #aaa;
$color-main-old-888888: #888;
$color-main-old-555555: #555;
$color-main-old-333333: #333333;

// warning color (.exception class) not sure where it exists
$color-main-old-ffffee: #ffe;
