#content { overflow: auto; }

.bookmarks_headline {
	font-size: large;
	font-weight: bold;
	margin-left: 2em;
	padding: 2.5ex 0.5ex;
}

.bookmarks_menu {
	margin-left: 1.5em;
	padding: 0.5ex;
}

.bookmarks_add {
	display: none;
	margin-top: 45px;
}

.bookmarks_list {
	margin-top: 36px;
}

.bookmarks_addBml {
	text-decoration: underline;
}

.bookmarks_label {
	width: 7em;
	display: inline-block;
	text-align: right;
}

.bookmarks_input {
	width: 20em;
}

.bookmark_actions {
	position: absolute;
	right: 1em;
	top: 0.7em;
	display: none;
}
.bookmark_actions span { margin: 0 0.4em; }
.bookmark_actions img { opacity: 0.3; }
.bookmark_actions img:hover { opacity: 1; cursor: pointer; }

.bookmark_single {
	position: relative;
	padding: 0.5em 1em;
	border-bottom: 1px solid #DDD;
	-webkit-transition:background-color 500ms; -moz-transition:background-color 500ms; -o-transition:background-color 500ms; transition:background-color 500ms;
}

.bookmark_single:hover {
	background-color:#f8f8f8
}

.bookmark_single:hover .bookmark_actions {
	display: block;
}

.bookmark_title { font-weight: bold; display: inline-block; margin-right: 0.8em; }
.bookmark_url { display: none; color: #999; }
.bookmark_single:hover .bookmark_url { display: inline; }
.bookmark_tags {
	position: absolute;
	top: 0.5em;
	right: 6em;
	text-align: right;
}
.bookmark_tag {
	display: inline-block;
	color: white;
	margin: 0 0.2em;
	padding: 0 0.4em;
	background-color: #1D2D44;
	border-radius: 0.4em;
	opacity: 0.2;
}
.bookmark_tag:hover { opacity: 0.5; }

.loading_meta {
	display: none;
	margin-left: 5px;
}

#footer {
	color: #999;
	font-size: medium;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	height: 20px;
	visibility: visible;
	display: block
}
