#content { overflow: auto; }

.bookmarks_headline {
	font-size: large;
	font-weight: bold;
	margin-left: 2em;
	padding: 2.5ex 0.5ex;
}

.bookmarks_menu {
	margin-left: 1.5em;
	padding: 0.5ex;
}

.bookmarks_add {
	display: none;
	margin-top: 45px;
}

.bookmarks_list {
	margin-top: 45px;
}

.bookmarks_addBml {
	text-decoration: underline;
}

.bookmarks_label {
	width: 7em;
	display: inline-block;
	text-align: right;
}

.bookmarks_input {
	width: 20em;
}

.bookmark_actions {
	display: none;
	font-size: smaller;
	color: #666;
	padding-left: 4em;
}

.bookmark_actions span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.bookmark_single {
	padding: 0.5em 1em;
}

.bookmark_single:hover {
	background-color: #EAEAEA;
}

.bookmark_single:hover .bookmark_actions {
	display: block;
}

.bookmark_title {
	font-size: larger;
	color: blue;
	text-decoration: underline;
}

.bookmark_url {
	color: green;
}

.bookmark_tag {
	color: #ff3333;
}

.loading_meta {
	display: none;
	margin-left: 5px;
}