.show-oauth-credentials {
	padding-left: 10px;
	opacity: 0.3;
	cursor: pointer;
}

#oauth2 .icon-toggle,
#oauth2 .icon-delete {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 10px;
	vertical-align: middle;
}

#oauth2 .grid td code {
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
}