div#gallery_list {
  margin: 90pt 20pt;
}
div#gallery_list.leftcontent {
  padding-top: 15px;
  margin: 0;
  text-align: center;
}

div#gallery_album_box {
  width: 200px;
  text-align: center;
  border: 0;
  display: inline-block;
  margin: 5pt;
  vertical-align: top;
  padding: 10px;
  border: solid 1px black;
}
.leftcontent div#gallery_album_box {
  margin: 5px;
}

div#gallery_album_box h1 {
  font-size: 12pt;
  font-family: Arial;
}

div#gallery_album_cover {
  width: 199px;
  height: 199px;
  border: solid 1px #999;
  padding: 0;
}

div#gallery_control_overlay {
  width:199px;
  height:199px;
  position:relative;
}

#gallery_images {
padding:10px 5px;
}
