

.app-files .detailsView.disappear {
	margin-right: -359px;
}

.app-files .detailsView {
	position: fixed;
	width: 350px;
	top: 44px; /* main header's height */
	right: 9px;
	left: auto;
	bottom: 0;
	background-color: white;
	-webkit-transition: margin-right 300ms;
	-moz-transition: margin-right 300ms;
	-o-transition: margin-right 300ms;
	transition: margin-right 300ms;
	overflow-x: hidden;
	overflow-y: auto;
}

.app-files .detailsView {
	background: #eee;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 2px 3px rgba(50, 50, 50, .4);
	display: block;
	z-index: 500;
}

.app-files .detailsView .detailFileInfoContainer {
	min-height: 80px;
	padding: 10px;
}

.app-files .detailsView .detailFileInfoContainer > div {
	clear: both;
	margin-left: 5px;
}

.app-files .detailsView .thumbnail {
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	background-size: 50px;
}

.app-files .detailsView .fileName {
	font-weight: bold;
	font-size: 17px;
}

.app-files .detailsView .detailList {
	float: left;
}

.app-files .detailsView .close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}
