#app-sidebar .detailFileInfoContainer {
	min-height: 60px;
	padding: 15px;
}

#app-sidebar .detailFileInfoContainer > div {
	clear: both;
}

#app-sidebar .mainFileInfoView {
	margin-right: 20px; /* accomodate for close icon */
}

#app-sidebar .thumbnail {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	background-size: 50px;
}

#app-sidebar .ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#app-sidebar .fileName {
	font-weight: bold;
	font-size: 17px;
	overflow: hidden;
}

#app-sidebar .detailList {
	float: left;
}

#app-sidebar .close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
}

