#upload {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	width: 39px;
	padding: 0 !important; /* override default control bar button padding */
	margin-left: .2em;
	overflow: hidden;
	vertical-align: top;
}
#upload a {
	position: relative;
	display: block;
	width: 100%;
	height: 44px;
	width: 44px;
	margin: -5px -3px;
	cursor: pointer;
	z-index: 10;
	background-image: url('%webroot%/core/img/actions/upload.svg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .65;
}
.file_upload_target { display:none; }
.file_upload_form { display:inline; float:left; margin:0; padding:0; cursor:pointer; overflow:visible; }
#file_upload_start {
	position: relative;
	left: 0;
	top: 0;
	width: 44px;
	height: 44px;
	margin: -5px -3px;
	padding: 0;
	font-size: 1em;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0;
	z-index: 20;
	cursor: pointer;
	overflow: hidden;
}

#uploadprogresswrapper {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	height: 36px;
	box-sizing: border-box;
}
#uploadprogresswrapper > input[type='button'] {
	height: 36px;
}
#uploadprogressbar {
	position:relative;
	float: left;
	margin-left: 12px;
	width: 130px;
	height: 36px;
	display:inline-block;
}
#uploadprogressbar + stop {
	font-size: 13px;
}

.oc-dialog .fileexists table {
	width: 100%;
}
.oc-dialog .fileexists th {
	padding-left: 0;
	padding-right: 0;
}
.oc-dialog .fileexists th input[type='checkbox'] {
	margin-right: 3px;
}
.oc-dialog .fileexists th:first-child {
	width: 230px;
}
.oc-dialog .fileexists th label {
	font-weight: normal;
	color:black;
}
.oc-dialog .fileexists th .count {
	margin-left: 3px;
}
.oc-dialog .fileexists .conflicts .template {
	display: none;
}
.oc-dialog .fileexists .conflict {
	width: 100%;
	height: 85px;
}
.oc-dialog .fileexists .conflict .filename {
	color:#777;
	word-break: break-all;
	clear: left;
}
.oc-dialog .fileexists .icon {
	width: 64px;
	height: 64px;
	margin: 0px 5px 5px 5px;
	background-repeat: no-repeat;
	background-size: 64px 64px;
	float: left;
}
.oc-dialog .fileexists .replacement {
	float: left;
	width: 230px;
}
.oc-dialog .fileexists .original {
	float: left;
	width: 230px;
}
.oc-dialog .fileexists .conflicts {
	overflow-y:scroll;
	max-height: 225px;
}
.oc-dialog .fileexists .conflict input[type='checkbox'] {
	float: left;
}
.oc-dialog .fileexists .toggle {
	background-image: url('%webroot%/core/img/actions/triangle-e.png');
	width: 16px;
	height: 16px;
}
.oc-dialog .fileexists #allfileslabel {
	float:right;
}
.oc-dialog .fileexists #allfiles {
	vertical-align: bottom;
	position: relative;
	top: -3px;
}
.oc-dialog .fileexists #allfiles + span{
	vertical-align: bottom;
}
.oc-dialog .oc-dialog-buttonrow {
	width:100%;
	text-align:right;
}
.oc-dialog .oc-dialog-buttonrow .cancel {
	float:left;
}
