<?xml version="1.0"?>
<plugin version="1.0">
	<info>
		<id>publiclink</id>
		<name>Simple file sharing by creating a public link to a file</name>
		<version>0.1</version>
		<licence>AGPL</licence>
		<author>Robin Appelman</author>
		<require>1.1</require>
	</info>
	<runtime>
		<include>lib_public.php</include>
	</runtime>
	<install>
		<database>db_structure.xml</database>
	</install>
</plugin>
