<div id="{dialog_name}" title="{title}">
	<span class="dirtree breadcrumb">
		<span class="actions creatable"><a href="#" class="icon icon-add button button-add" aria-label="{newtext}"></a>
			<nav class="menu popovermenu bubble menu-left newFolderMenu">
				<ul><li>
				<form class="filenameform">
					<input type="text" value={newtext}>
					<input class="icon-confirm" type="submit" value="">
				</form>
				</li></ul>
			</nav>
		</span>

	</span>

	<button id="picker-showgridview" class="icon-toggle-pictures"></button>
	<div class="filelist-container">
		<div class="emptycontent">
			<div class="icon-folder"></div>
			<h2>{emptytext}</h2>
		</div>
		<table id="picker-filestable" class="filelist list-container view-grid">
			<thead>
				<tr>
					<th class="column-name">
						<div id="column-name-container">
							<a class="name sort columntitle" data-sort="name" tabindex="0">
								<span>{nameCol}</span>
								<span class="sort-indicator hidden icon-triangle-n"></span>
							</a>
						</div>
					</th>
					<th class="column-size">
						<a class="size sort columntitle" data-sort="size" tabindex="0">
							<span>{sizeCol}</span>
							<span class="sort-indicator hidden icon-triangle-n"></span></a>
					</th>
					<th class="column-mtime">
						<a id="modified" class="columntitle" data-sort="mtime" tabindex="0">
							<span>{modifiedCol}</span>
							<span class="sort-indicator hidden icon-triangle-n"></span></a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-entryname="{filename}" data-type="{type}" tabindex="0">
					<td class="filename"
						style="background-image:url({icon})">
						<span class="filename-parts">
							<span class="filename-parts__first">{filename1}</span>
							<span class="filename-parts__last">{filename2}</span>
						</span>
					</td>
					<td class="filesize">{size}</td>
					<td class="date">{date}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
