#dropdown.drop-versions {
	width: 360px;
}

#found_versions li {
	width: 100%;
	cursor: default;
	height: 56px;
	float: left;
	border-bottom: 1px solid rgba(100,100,100,.1);
}
#found_versions li:last-child {
	border-bottom: none;
}

#found_versions li > * {
	padding: 7px;
	float: left;
	vertical-align: top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

#found_versions li > a,
#found_versions li > span {
	padding: 17px 7px;
}

#found_versions li > *:hover,
#found_versions li > *:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#found_versions img {
	cursor: pointer;
	padding-right: 4px;
}

#found_versions img.preview {
	cursor: default;
	opacity: 1;
}

#found_versions .versionDate {
	min-width: 100px;
	vertical-align: text-bottom;
}

#found_versions .revertVersion {
	cursor: pointer;
	float: right;
	max-width: 130px;
	text-overflow: ellipsis;
	overflow: hidden;
}

