<h1>Administration</h1>
<h2>Plugins</h2>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Version</th>
			<th>Author</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		[%foreach $plugins as $plugin%]
			<td>[%$plugin.info.id%]</td>
			<td>[%$plugin.info.version%]</td>
			<td>[%$plugin.info.name%]</td>
			<td>[%$plugin.info.author%]</td>
			<td>enable</td>
		[%/foreach%]
	</tbody>
</table>
