#lightbox_overlay{
	position:fixed;
	display:none;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	opacity:0.5;
	filter: alpha(opacity = 50);
	background-color:black;
	z-index:9999;
}

#lightbox{
	position:fixed;
	display:none;
	max-height:90%;
	max-width:90%;
	top:10px;
	margin-left:auto;
	margin-right:auto;
	z-index:9999;
}

#lightbox_loader{
  text-align:center;
  position:fixed;
  top: 40%;
  left: 50%;
  color:white;
}
#lightbox_loader img { margin-right: 1em;}