#personal-show + label {
	left: 222px !important;
	margin-top: 3px !important;
}

#renewpassword .strengthify-wrapper {
	left: 10px;
	margin-top: 65px;
	position: absolute;
	width: 219px;
}

#cancel-container p.info {
	margin-top: 10px;
	text-align: center;
}

#renewpassword .title {
	background-color: transparent;
}

input.primary,
button.primary {
	background-color: #00a2e9 !important;
}
