.table {
	display: table;
	width: 60%;
}

.tablecell {
	display: table-cell !important;
}

.tablerow {
	display: table-row;
}

.tablerow input, .tablerow textarea {
	width: 100% !important;
}

.tablerow textarea {
	height: 15px;
}

.invisible {
	visibility: hidden;
}

.ldapSettingsTabs {
	float: right !important;
}

.ldapWizardControls {
	width: 60%;
	text-align: right;
}

.ldapWizardInfo {
	width: 100% !important;
	height: 50px;
	background-color: lightyellow;
	border-radius: 0.5em;
	padding: 0.6em 0.5em 0.4em !important;
	margin-bottom: 0.3em;
}

#ldapWizard1 .hostPortCombinator {
	width: 60%;
	display: table;
}

#ldapWizard1 .hostPortCombinator div span {
	width: 7%;
	display: table-cell;
	text-align: right;
}

#ldapWizard1 .host {
	width: 96.5% !important;
}

.tableCellInput {
	margin-left: -40%;
	width: 100%;
}

.tableCellLabel {
	text-align: right;
	padding-right: 25%;
}

.ldapIndent {
	margin-left: 50px;
}

.ldapwarning {
	margin-left: 1.4em;
	color: #FF3B3B;
}

#ldap fieldset p label {
	width: 20%;
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	padding-top: 9px;
	padding-right: 5px;
}

#ldap fieldset input, #ldap fieldset textarea {
 	width: 60%;
	display: inline-block;
}

#ldap fieldset p input[type=checkbox] {
	vertical-align: bottom;
}

select[multiple=multiple] + button {
	height: 28px;
	padding-top: 6px !important;
	min-width: 40%;
	max-width: 40%;
}