#ldap fieldset p label {
	width: 20%;
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	padding-top: 9px;
	padding-right: 5px;
}

#ldap fieldset input, #ldap fieldset textarea {
	width: 60%;
	display: inline-block;
}

#ldap fieldset p input[type=checkbox] {
	vertical-align: bottom;
}

.ldapIndent {
	margin-left: 50px;
}

.ldapwarning {
	margin-left: 1.4em;
	color: #FF3B3B;
}