<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>ownCloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    [%foreach $cssfiles as $cssfile%]
      <link rel="stylesheet" href="[%$cssfile%]" type="text/css" media="screen" />
    [%/foreach%]
    [%foreach $jsfiles as $jsfile%]
      <script type="text/javascript" src="[%$jsfile%]"></script>
    [%/foreach%]
  </head>

  <body>
    <div id="header">
      <a href="/" title="" id="owncloud"><img src="[%imagepath file='owncloud-logo-small-white.png'%]" alt="ownCloud" /></a>

      <div id="user">
        <a id="user_menu_link" href="" title="">Username</a>
        <ul id="user_menu">
          [%foreach $personalmenu as $entry%]
            <li><a href="[%linkto app=$entry.app file=$entry.file%]" title="">[%$entry.name%]</a></li>
          [%/foreach%]
        </ul>
      </div>
    </div>

    <div id="main">
      <div id="plugins">
        <ul>
          [%foreach $navigation as $entry%]
            <li><a href="[%linkto app=$entry.app file=$entry.file%]" title="">[%$entry.name%]</a></li>
          [%/foreach%]
        </ul>
      </div>

      <div id="content">
        [%$content%]
      </div>
    </div>
  </body>
</html>
