<ul class="comments">
</ul>
<div class="emptycontent hidden"><div class="icon-comment"></div>
	<p>{{emptyResultLabel}}</p></div>
<input type="button" class="showMore hidden" value="{{moreLabel}}" name="show-more" id="show-more" />
<div class="loading hidden" style="height: 50px"></div>
