/* FILE MENU */

#file_menu
{
	right:0px;
	position:absolute;
	top:0;
}

#file_menu a
{
	display:block;
	float:left;
	background-image:none;
	text-decoration: none;
}

.file_upload_form, #file_newfolder_form {
	display: inline;
	margin-left:3em;
}

#fileSelector, #file_upload_submit, #file_newfolder_submit {
	display: none;
}

.file_upload_filename, #file_newfolder_name {
	background-repeat: no-repeat;
	background-position: 0.5em 0;
	padding-left: 2em;
}

.file_upload_filename {
	background-image:url("../img/file.png"); font-weight:bold;
}
.file_upload_start {opacity:0;filter: alpha(opacity = 0);}

#file_newfolder_name {
	background-image:url("../img/folder.png"); font-weight:bold;
	width: 14em;
}

.file_upload_start, .file_upload_filename{
	position:absolute;
	top:0px;
	left:0px;
	width:30ex;
	font-size: 0.9em;
}

.file_upload_wrapper{
	position:relative;
	top:-1.2em;
	left:-2em;
	display: -moz-inline-box; /* fallback for older firefox versions*/
	display: inline-block;
	width:30ex;
}

#file_newfolder_submit, #file_upload_submit {
	width: 3em;
}

.file_upload_target {
	display: none;
}

/* FILE TABLE */

table {
	position:relative;
	top:37px;
	width: 100%;
}

tbody tr:hover, tbody tr:active, tbody tr.selected { background-color:#eee; }
tbody a { color:#000; }

table td.filesize, table td.date
{
    width: 7em;
    padding: 0.5em 1em;
    text-align: right;
}
#headerSize{
	text-align:right;
}

table td.date
{
    width: 11em;
}

table td.selection, table th.selection, table td.fileaction
{
    width: 2em;
    text-align: center;
}

td.filename{
	position:relative;
}

.dropArrow{
	height:16px;
	width:16px;
	display: -moz-inline-box; /* fallback for older firefox versions*/
	display: inline-block;
	background-image:url('../img/drop-arrow.png');
}

span.extention{
	color:#999;
}

div.crumb{
	float:left;
	display:block;
	background-repeat:no-repeat;
	background-position:right 0px;
	font-size:20px;
	padding-top:8px;
	padding-left:8px;
	height:28px; /*36-8*/
}

table tr.mouseOver td { background-color:#eee; }
table th, table td { padding:0; border-bottom:1px solid #ddd; text-align:left; font-style:italic; }
table th { padding:0.5em; }
table td { border-bottom:1px solid #eee; font-style:normal; }
table td.date { width:11em; }
table td.selection, table th.selection, table td.fileaction { width:2em; text-align:center; }
table td.filename a { display:block; background-image:url('../img/file.png'); text-decoration:none; }
table td.filename a, table td.login, table td.logout, table td.download, table td.upload, table td.create, table td.delete { padding:0.5em 0.5em 0.5em 3em; background-position:1em center; background-repeat:no-repeat; }
table td.filename a:hover, table td.filename a:focus { outline:0; }
table td.filename a:active { outline:0; }
table em { font-weight:bold; }
table td.filename a.folder-up { background-image:url('../img/back.png'); font-style:italic; }
table td.filename a.folder { background-image:url('../img/folder.png'); }
table td.filename a.folder-home { background-image:url('../img/home.png'); }
table td.filename a.folder-music { background-image:url('../img/folder-music.png'); }
table td.filename a.folder-videos { background-image:url('../img/folder-video.png'); }
table td.filename a.folder-shared { background-image:url('../img/folder-shared.png'); }
table td.filename a.folder-images { background-image:url('../img/folder-image.png'); }
table td.filename a.file-txt { background-image:url('../img/file-txt.png'); }
table td.filename a.file-python { background-image:url('../img/file-python.png'); }
table td.filename a.file-php { background-image:url('../img/file.png'); }
table td.login { background-image:url('../img/login.png'); }
table td.logout { background-image:url('../img/logout.png'); }
table td.download { background-image:url('../img/download.png'); }
table td.upload { background-image:url('../img/upload.png'); }
table td.create { background-image:url('../img/folder-new.png'); }
table td.delete { background-image:url('../img/delete.png'); }
#fileList tr input[type=checkbox] { display:none; float:left; margin:0.7em; margin-left:1em; }
#fileList tr input[type=checkbox]:checked { display:inline; }
#fileList tr:hover input[type=checkbox] { display:inline; }
#fileList tr:hover td.filename a{background-image:none !important}
#fileList tr.selected td.filename a{background-image:none !important}
#select_all{float:left; margin:0.2em; margin-left:0.6em; }
#selectedActions{
	float:right;
	display:none;
}
#uploadsize-message{display:none}

/* add breadcrumb divider to the File item in navigation panel */
#plugins li:first-child{
	background-position: 15.7em 0px;
	background-repeat:no-repeat;
	background-image: url("/owncloud/core/img/breadcrumb-divider-start.png");
	width:15.7em;
	padding-right:11px;
}
