/* FILE MENU */

#file_menu
{
    display: none;
    position: absolute;
    background-color: #EEE;
}

#file_menu ul
{
    list-style-type: none;
}

#file_menu li a
{
    display: block;
    padding: 0.5em 5em 0.5em 2em;
    text-decoration: none;
}

#file_upload_form, #file_newfolder_form {
	display: inline;
}

#fileSelector, #file_upload_submit, #file_newfolder_submit {
	display: none;
}

#file_upload_filename, #file_newfolder_name {
	background-repeat: no-repeat;
	background-position: 0.5em 0;
	padding-left: 2em;
}

#file_upload_filename {
	background-image:url(../../img/mimetypes/file.png);
}
#file_upload_start {opacity:0;}

#file_newfolder_name {
	background-image:url(../../img/places/folder.png); font-weight: bold; 
	width: 14em;
}

#file_upload_start, #file_upload_filename{
	position:absolute;
	top:0px;
	left:0px;
	width:30ex;
	font-size: 0.9em;
}

#file_upload_wrapper{
	position:relative;
	top:-1.2em;
	left:-2em;
	display: -moz-inline-box; /* fallback for older firefox versions*/
	display: inline-block;
	width:30ex;
}

#file_newfolder_submit, #file_upload_submit {
	width: 3em;
}

form input[type="button"], form input[type="text"]{
	/* this is a dirty wurgaround, Jan needs to fix it in global css*/
	font-size: 0.9em;
}

#file_upload_target {
	display: none;
}

/* FILE TABLE */

table {
	width: 90%;
}

table td.filesize, table td.date
{
    width: 5em;
    padding: 0.5em 1em;
    text-align: right;
}

table td.date
{
    width: 11em;
}

table td.selection, table th.selection, table td.fileaction
{
    width: 2em;
    text-align: center;
}

table td.filename a
{
    display: block;
    background-image: url(../img/file.png);
    text-decoration: none;
}

