/* FILE MENU */

#file_menu
{
    display: none;
    position: absolute;
    background-color: #EEE;
}

#file_menu ul
{
    list-style-type: none;
}

#file_menu li a
{
    display: block;
    padding: 0.5em 5em 0.5em 2em;
    text-decoration: none;
}

#file_upload_form {
	display: inline;
}

#fileSelector, #file_upload_cancel {
	display: none;
}

#file_upload_start {
	background-image:url(/owncloud-dev/img/mimetypes/file.png);
	background-repeat: no-repeat;
	background-position: 0.5em 0;
	padding-left: 2em;
	
}

#file_upload_form input[type="button"]{
	/* this is a dirty wurgaround, Jan needs to fix it in global css*/
	font-size: 0.9em;
}

#file_newfolder_form {
	display: none;
}

#file_upload_target {
	display: none;
}

/* FILE TABLE */

table {
	width: 90%;
}

table td.filesize, table td.date
{
    width: 5em;
    padding: 0.5em 1em;
    text-align: right;
}

table td.date
{
    width: 11em;
}

table td.selection, table th.selection, table td.fileaction
{
    width: 2em;
    text-align: center;
}

table td.filename a
{
    display: block;
    background-image: url(../img/file.png);
    text-decoration: none;
}

