td.status>span { display:inline-block; height:16px; width:16px; }
span.success { background-image: url('../img/success.png'); background-repeat:no-repeat; }
span.error { background-image: url('../img/error.png'); background-repeat:no-repeat; }
span.waiting { background-image: url('../img/waiting.png'); background-repeat:no-repeat; }
td.mountPoint, td.backend { width:10em; }
td.remove>img { visibility:hidden; padding-top:0.8em; }
tr:hover>td.remove>img { visibility:visible; cursor:pointer; }
#addMountPoint>td { border:none; }
#addMountPoint>td.applicable { visibility:hidden; }
#selectBackend { margin-left:-10px; }