/*
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/* Database selector on install page */
form #selectPartStatForm {
  text-align:center;
  white-space: nowrap;
  margin: 0;
}

form #selectPartStatForm .info {
  white-space: normal;
}

form #selectPartStatForm input[type="radio"] {
  display: none;
}

form #selectPartStatForm input[type="radio"]:checked+label {
     background-color: #e8e8e8;
}

form #selectPartStatForm input[type="radio"]:checked ~ form fieldset#more_options {
  display: none;
}

form #selectPartStatForm label {
  color: #000;
  background-color: #f8f8f8;
  position: static;
  margin: 0 -3px 5px;
  cursor:pointer;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
}

form #selectPartStatForm label:first-of-type {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}

form #selectPartStatForm label:last-of-type {
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

form #selectPartStatForm label span {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  line-height: normal;
}

form #selectPartStatForm label.ui-state-hover,
form #selectPartStatForm label.ui-state-active {
  color:#000;
  background-color:#e8e8e8;
}

form input[type="number"] {
  width: 249px;
  background: #fff;
  color: #555;
  cursor: text;
  font-family: inherit;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  box-sizing: content-box;
  border: none;
  font-weight: 300;
}

form input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 11px 20px 9px
}
