<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <arg value="nps"/>

    <file>src</file>
    <file>test</file>

    <rule ref="Doctrine">
        <exclude-pattern>src/PackageVersions/Versions.php</exclude-pattern>
    </rule>

    <rule ref="Generic.Strings.UnnecessaryStringConcat.Found">
        <exclude-pattern>src/PackageVersions/Installer.php</exclude-pattern>
    </rule>
</ruleset>
