select#languageinput, select#timezone { width:15em; }
input#openid, input#webdav { width:20em; }

/* PERSONAL */
#passworderror { display:none; }
#passwordchanged { display:none; }
input#identity { width:20em; }

.msg.success{ color:#fff; background-color:#0f0; padding:3px; text-shadow:1px 1px #000; }
.msg.error{ color:#fff; background-color:#f00; padding:3px; text-shadow:1px 1px #000; }

table.nostyle label { margin-right: 2em; }
table.nostyle td { padding: 0.2em 0; }

/* USERS */
form { display:inline; }
table:not(.nostyle) th { height:2em; color:#999; }
table:not(.nostyle) th, table:not(.nostyle) td { border-bottom:1px solid #ddd; padding:0 .5em; padding-left:.8em; text-align:left; font-weight:normal; }
td.name, td.password { padding-left:.8em; }
td.password>img, td.remove>img, td.quota>img { visibility:hidden; }
td.password, td.quota { width:12em; cursor:pointer; }
td.password>span, td.quota>span { margin-right: 1.2em; color: #C7C7C7; }

td.remove { width:1em; padding-right:1em; }
tr:hover>td.password>span { margin:0; cursor:pointer; }
tr:hover>td.remove>img, tr:hover>td.password>img, tr:hover>td.quota>img { visibility:visible; cursor:pointer; }
tr:hover>td.remove>img { float:right; }
li.selected { background-color:#ddd; }
#content>table:not(.nostyle) { margin-top:6.5em; }
table:not(.nostyle) { width:100%; }


/* APPS */
li { color:#888; }
li.active { color:#000; }
span.version { margin-left:3em; color:#ddd; }
