/*!
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

li.crumb span.icon-shared,
li.crumb span.icon-public {
	display: inline-block;
	cursor: pointer;
	opacity: 0.2;
	margin-inline-end: 6px;
}

li.crumb span.icon-shared.shared,
li.crumb span.icon-public.shared {
	opacity: 0.7;
}
