{
    "output" : "build/psalm.phar",
    "files": [
        "src/command_functions.php",
        "src/psalm.php",
        "src/psalter.php",
        "src/psalm-language-server.php",
        "src/psalm_plugin.php",
        "src/psalm-refactor.php"
    ],
    "files-bin": ["config.xsd"],
    "directories-bin" : ["assets", "dictionaries", "stubs"],
    "compactors" : [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ]
}
