
#whitelist-list {
	min-width: 262px;
}

#whitelist-list td span {
	padding: 10px 15px;
	display: inline-block;
}

#whitelist-list .action-column {
	width: 46px;
}

#whitelist-list .action-column a {
	display: inline-block;
}