
div.files-list__filters {
	display: none;
}
.files-list {
	& thead.files-list__thead,& div.files-list__thead-overlay {
		top: 0;
		.files-list__row-head .files-list__column--sortable .button-vue__text {
			@media only screen and (max-width: 1023px) {
				font-size: 16px;
			}
		}
	}
}

div.files-list__header {
	margin-top: 25px;
	margin-right: 16px;
	margin-bottom: 14px;
	@media only screen and (max-width: 1023px) {
		margin-top: 15px;
	}
}

thead.files-list__thead tr,
div[data-cy-files-list]:not(.files-list--grid) tbody.files-list__tbody tr.files-list__row,
tfoot.files-list__tfoot tr {
	padding-right: 44px;
	padding-left: 4px;

	@media only screen and (max-width: 512px) {
		padding-right: 16px;
	}
}

button.files-list__header-grid-button {
	position: absolute;
	top: 88px;
	right: 20px;
	z-index: 33;
}

.files-list__refresh-icon {
	position: absolute;
	right: 50%;
}

nav:has(.breadcrumb__crumbs) {
	flex-grow: 1;
}

.files-list__column-sort-button-icon {
	svg {
		width: 18px;
		height: 18px;
	}
}

div.files-list__header:has(div.files-list__breadcrumbs), .file-picker {
	div.files-list__breadcrumbs, .file-picker__breadcrumbs {
		ul.breadcrumb__crumbs {
			a, a:hover, a:active, a:disabled, button {
				padding: 2px 0;
				font-weight: 400;
				color: var(--ion-breadcrumb-text-default);
				background-color: transparent;

				span.button-vue__text {
					color: var(--ion-breadcrumb-text-default);
					font-weight: 400;
					&:hover {
						color: var(--ion-breadcrumb-text-hover);
					}
					&:active {
						color: var(--ion-breadcrumb-text-active);
					}
					&:disabled {
						color: var(--ion-breadcrumb-text-disabled);
					}
				}
			}

			/* ensure the icon-only buttons look correct */
			button.button-vue--icon-only, a.button-vue--icon-only svg {
				background-color: transparent;
				color: var(--ion-breadcrumb-text);
				padding: 2px 0;
				&:hover {
					color: var(--ion-breadcrumb-text-hover);
					background-color: inherit;
				}
				&:active {
					color: var(--ion-breadcrumb-text-active);
					background-color: inherit;
				}
				&:disabled {
					color: var(--ion-breadcrumb-text-disabled);
					background-color: inherit;
				}
				&:focus {
					background-color: inherit;
				}
				span[role=img]>svg.material-design-icon__svg {
					color: inherit;
				}
			}

			.vue-crumb {
				align-items: center;
			}

			.vue-crumb__separator {
				color: var(--ion-breadcrumb-text);
				width: 16px;
				height: 16px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		margin-inline: 0;

		div.breadcrumb {
			flex-direction: column-reverse;
			align-items: flex-start;

			nav {
				margin-left: 8px;
			}

			div.breadcrumb__actions {
				align-self: flex-end;

				&:has(div.v-popper) {
					position: sticky;
				}
			}
		}
	}
}

div[data-cy-files-list].files-list {
	.files-list__row {
		&:hover {
			background-color: var(--ion-files-list-background-hover);

			.favorite-marker-icon svg path {
				stroke: var(--color-main-background);
			}
		}
		&:active, &.files-list__row--active, &:has(.checkbox-radio-switch--checked) {
			background-color: var(--ion-files-list-background-active);

			.favorite-marker-icon svg path {
				stroke: var(--color-main-background);
			}
		}
		.files-list__row-icon {
			color: var(--ion-files-list-icon);
		}
		.files-list__row-actions {
			right: 0;
			bottom: 2px;
			.action-items {
				color: var(--ion-files-list-icon);
			}
			.icon-vue {
				color: var(--ion-files-list-icon);
			}
			.material-design-icon{
				color: var(--ion-files-list-icon);
			}
			.button-vue--icon-and-text {
				background-color: var(--ion-button-secondary-background-default);
				border: 2px solid transparent;
				&:hover {
					border: var(--ion-button-secondary-border-default);
				}
				.button-vue__text {
					color: var(--ion-button-secondary-text);
				}
			}
		}
	}

	/* mobile and tablet */
	@media only screen and (max-width: 1199px) {
		.files-list__filters {
			height: auto;
		}
	}
}

tfoot.files-list__tfoot tr td.files-list__column.files-list__row-size,
td[data-cy-files-list-row-size].files-list__row-size {
	justify-content: normal;
	padding-left: 12px;
	@media only screen and (max-width: 1199px) {
		padding-left: 23px;
	}
}

div.files-list--grid tbody.files-list__tbody .files-list__row-icon {
	.folder-icon {
		justify-content: center;
	}

	img, svg {
		width: auto;
		height: auto;
		min-width: 42px;
		min-height: 80%;
	}
}

/* Context Menu */
div.v-popper--theme-dropdown.v-popper__popper:has(.v-popper__wrapper) {
	border-radius: 16px;
	filter: none;

	div.v-popper__wrapper {
		border-radius: inherit;
		border: 1px solid var(--ion-context-menu-border);

		div.v-popper__inner {
			padding: 2px 12px;
			border-radius: inherit;
			background-color: var(--ion-context-menu-background);

			li.action:has(button.action-button) {
				&.active {
					background-color: var(--ion-context-menu-item-background-hover);
				}

				button.action-button {
					border-radius: 8px;
					color: var(--ion-context-menu-item-text);
					font-style: normal;
					font-weight: 600;
					margin-top: 12px;
					margin-bottom: 12px;

					&:active {
						background-color: var(--ion-context-menu-item-background-active);
					}

					&:disabled {
						color: var(--ion-context-menu-item-text-disabled);
						background-color: var(--ion-context-menu-item-background-disabled);
						cursor: not-allowed;
					}

					.folder-upload-icon {
						color: var(--ion-context-menu-item-text) !important;
					}
				}
			}
		}

		div.v-popper__arrow-container:has(div.v-popper__arrow-inner) {
			display: none;
		}
	}
}

/* Dialogs */
div.modal-container {
	background-color: var(--ion-surface-dialog);
	min-width: min-content;

	&:has(.viewer__content) {
		background-color: transparent;
	}

	&:has(.nc-generic-dialog) {
		/* Delete Dialog */
		border: 1px solid var(--ion-color-blue-b4);
	}
	&:has(.unified-search-modal) {
		border: 0.5px solid #A3A3A3;
		box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25), -1px 0px 8px 0px rgba(0, 0, 0, 0.25);
		.unified-search-modal__header, .input-field__input, .input-field__label {
			background-color: var(--ion-surface-dialog);

			.unified-search-modal__filters{
				button.button-vue--vue-secondary.action-item__menutoggle[id*="trigger-menu"] {
					background-color: var(--ion-dialog-filter-button-background);
					&:hover {
						background-color: var(--ion-button-tertiary-background-hover);
					}
					&:active {
						background-color: var(--ion-button-tertiary-background-active);
					}
					span.button-vue__wrapper {
						span.button-vue__text, .button-vue__icon svg {
							color: var(--ion-button-tertiary-text) !important;
						}
					}
				}
			}

			.unified-search-modal__filters-applied {
				.chip {
					background-color: var(--ion-chip-background);
					color: var(--ion-chip-text);
					border: none;

					span.icon {
						.calendar-range-icon {
							width: 20px;
							height: 20px;
						}
						img {
							filter: none;
						}
					}
				}
			}
		}

		.unified-search-modal__results {
			h4.result-title {
				color: var(--ion-text);
			}

			ul.result-items {
				li.result-items__item div.list-item, li.result-items__item div.list-item a{
					background-color: var(--ion-dialog-files-list-background);
					border: none;
					&:hover, &.active {
						background-color: var(--ion-dialog-files-list-background-hover);
						border: none;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 512px) {
		div.dialog__actions {
			flex-wrap: wrap;
		}
	}

	/* File Picker*/
	.dialog.file-picker {
		.input-field__input, .input-field__input:focus + .input-field__label {
			background-color: var(--ion-surface-dialog);
		}

		.file-picker__files {
			thead th {
				background-color: var(--ion-surface-dialog);
			}

			tr.file-picker__row {
				&:hover, &.file-picker__row--selected {
					background-color: var(--ion-files-list-background-hover);

					@media (prefers-color-scheme: dark) {
						background-color: var(--ion-color-cool-grey-c7);
					}
				}

				[class*="_file-picker__file-icon_"] {
					color: var(--ion-files-list-icon);
				}
			}
		}

		.file-picker__side li {
			.button-vue--vue-primary.button-vue--icon-and-text {
				background-color: var(--ion-button-sidebar-background-active) !important;

				.button-vue__text, .button-vue__icon svg {
					color: var(--ion-button-tertiary-text);
				}
			}

			.button-vue--vue-tertiary.button-vue--icon-and-text {
				background-color: transparent !important;

				&:hover {
					background-color: var(--ion-button-sidebar-background-hover) !important;
				}

				&:active {
					background-color: var(--ion-button-sidebar-background-active) !important;
				}
			}

			.dialog__actions button.button-vue--vue-primary {
				background-color: var(--ion-button-secondary-background-default);
				border: var(--ion-button-secondary-border-default);


				&:hover:not(:disabled):not(.button-vue--disabled) {
					background-color: var(--ion-button-secondary-background-hover);
					border-color: var(--ion-button-secondary-background-hover);

					.button-vue__text, .button-vue__icon svg {
						color: var(--ion-button-secondary-text-hover);
					}
				}

				&:active:not(:disabled):not(.button-vue--disabled) {
					background-color: var(--ion-button-secondary-background-active);

					.button-vue__text, .button-vue__icon svg {
						color: var(--ion-button-secondary-text-active);
					}
				}
			}
		}
	}
}

.v-popper__popper {
	.v-popper__inner {
		background-color: var(--ion-surface-dialog) !important;
		border-radius: inherit;

		.searchable-list__list {
			li button {
				background-color: transparent !important;
				&:hover, &:active {
					background-color: var(--ion-files-list-background-hover) !important;
				}
			}
		}

		.input-field__input {
			background-color: var(--ion-surface-dialog);
		}
	}
	[class*="trigger-menu"], [aria-labelledby^="trigger-menu"] {
		li.action.active {
			background-color: var(--ion-surface-dialog);
		}

		img.filter-button__icon {
			@media (prefers-color-scheme: dark) {
				filter: none;
			}
		}
	}
}

::selection {
	background-color: var(--ion-color-blue-b4);
}

.toastify.dialogs {
	min-width: 0;
	padding-right: 14px;

	.toast-close {
		margin-right: 0;
		padding-right: 0;
		min-width: 0;
	}
}
