div.app-navigation, div#app-navigation {
	div.app-navigation-search {
		padding: calc(2 * var(--default-grid-baseline)) 20px 0 20px;
	}

	div#app-settings,
	ul.app-navigation-list {
			padding: calc(2 * var(--default-grid-baseline)) 20px 4px 20px;
	}

	ul.app-navigation-entry__settings {
			padding: calc(2 * var(--default-grid-baseline)) 20px 20px 20px;
	}

	&:has(nav#app-navigation-vue), &:not(.vue) {
		background-color: var(--ion-surface-secondary);
		.app-navigation-entry, nav[class*="app-navigation-"] ul li a, nav[class*="app-navigation-"] ul li,
		#app-settings .settings-button {
			span[role=img]>svg {
				color: var(--ion-button-sidebar-text);
				height: 16px;
				width: auto;
			}
			.app-navigation-entry-icon {
				width: 44px;
				height: 44px;
			}
			.icon-vue {
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 1;
				path {
					fill: var(--ion-button-sidebar-text);
				}
			}
			.settings-button__label, .app-navigation-entry__name, a {
				font-weight: 600;
				color: var(--ion-button-sidebar-text) !important;
				background-color: transparent;
			}
			border-radius: var(--border-radius-pill);
			&.active {
				background-color: var(--ion-button-sidebar-background-active) !important;
				.app-navigation-entry-link {
					color: var(--ion-button-sidebar-text) !important;
				}
				img {
					filter: none;
				}
				@media (prefers-color-scheme: dark) {
					img {
						filter: invert(100%);
					}
				}
			}
			&:hover {
				background-color: var(--ion-button-sidebar-background-hover);
			}
			@media (prefers-color-scheme: dark) {
				img {
					filter: invert(100%);
				}
			}
		}

		.app-navigation-entry--opened:has(.app-navigation-entry__children) {
			background: var(--ion-surface-primary);
			border-radius: 8px;
			.app-navigation-entry__children {
				padding: 0 8px;
				gap: 0;
				.app-navigation-entry {
					display: flex;
					align-items: center;
					border-radius: 4px;
				}
				.app-navigation-entry-wrapper {
					background: var(--ion-surface-primary);
					border-radius: 8px;
					min-height: 40px;
					margin: 4px 0;
				}
			}
		}

		/* Navigation Toggle Button */
		div.app-navigation-toggle-wrapper button.app-navigation-toggle.button-vue--icon-only {
			background-color: var(--ion-button-sidebar--icon-only-background) !important;
			@media only screen and (max-width: 1023px) {
				margin: 12px 0;
			}
			span[role=img]>svg {
				height: 16px;
				width: 16px;
				color: var(--ion-button-sidebar--icon-only-text) !important;
			}
			&:hover {
				background-color: var(--ion-button-sidebar--icon-only-background-hover) !important;
				span[role=img]>svg {
					color: var(--ion-button-sidebar--icon-only-text) !important;
				}
			}
		}

		/* Sub Navigation Toggle Icon Button */
		.button-vue--icon-only:not(.app-navigation-toggle) {
			background-color: transparent;
			span[role=img]>svg {
				height: 16px;
				width: 16px;
				color: var(--ion-button-sidebar-text);
			}
			&:hover {
				background-color: transparent;
				span[role=img]>svg {
					color: var(--ion-button-sidebar-text);
				}
			}
		}

		@media only screen and (max-width: 767px) {
			&:has(span.menu-open-icon) {
				width: auto;
				max-width: inherit;

				.app-navigation-list {
					padding-right: calc(var(--default-clickable-area) + 16px);
				}

				div.app-navigation-toggle-wrapper {
					margin-inline-end: calc(var(--default-clickable-area) - 24px);
				}
			}
		}
	}
}

.app-navigation-entry__counter-wrapper .counter-bubble__counter {
	background-color: var(--ion-context-menu-background) !important;
	color: var(--ion-text) !important;
}
