/*!
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.field {
	display: flex;
	flex-direction: column;
	gap: 4px 0;

	&__row {
		display: flex;
		gap: 0 4px;
	}
}
