name: Lint
on: pull_request

jobs:
  php-linters:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.2', '7.3', 7.4]
    name: php${{ matrix.php-versions }} lint
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up php${{ matrix.php-versions }}
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # master
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: none
    - name: Lint
      run: composer run lint

  php-cs-fixer:
    name: php-cs check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up php
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # master
      with:
        php-version: 7.4
        coverage: none
        tools: cs2pr
    - name: Install dependencies
      run: composer i
    - name: Run coding standards check
      run: |
        composer run cs:check -- --format=checkstyle | cs2pr
        composer run cs:check || ( echo 'Please run `composer run cs:fix` to format your code' && exit 1 )
      shell: bash {0}
