# This workflow is provided via the organization template repository
#
# https://github.com/nextcloud/.github
# https://docs.github.com/en/actions/learn-github-actions/sharing-workflows-with-your-organization

name: PHPUnit

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  phpunit-mysql:
    runs-on: ubuntu-20.04

    strategy:
      # do not stop on another job's failure
      fail-fast: false
      matrix:
        php-versions: ['8.1', '8.2']

    services:
      mysql:
        image: mariadb:10.5
        ports:
          - 4444:3306/tcp
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
        options: --health-cmd="mysqladmin ping" --health-interval 5s --health-timeout 2s --health-retries 5

    steps:
      - name: Enable ONLY_FULL_GROUP_BY MySQL option
        run: |
          echo "SET GLOBAL sql_mode=(SELECT CONCAT(@@sql_mode,',ONLY_FULL_GROUP_BY'));" | mysql -h 127.0.0.1 -P 4444 -u root -prootpassword
          echo "SELECT @@sql_mode;" | mysql -h 127.0.0.1 -P 4444 -u root -prootpassword

      - name: Checkout server
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpunit
          extensions: mbstring, iconv, fileinfo, intl, mysql, pdo_mysql, pcntl-php/php-src@PHP-${{ matrix.php-versions }}
          coverage: none
          update: true
          ini-file: development
        env:
          PCNTL_PATH: ext/pcntl
          PCNTL_CONFIGURE_OPTS: '--enable-pcntl'

      - name: Activate pcntl extension
        run: |
          echo 'extension=pcntl.so' | sudo tee -a /etc/php/${{ matrix.php-versions }}/fpm/conf.d/10-pcntl.ini

      - name: composer i
        run: |
          composer i

      - name: Set up Nextcloud
        env:
          DB_PORT: 4444
        run: |
          php --version
          mkdir data
          ./occ maintenance:install --verbose --database=mysql --database-name=nextcloud --database-host=127.0.0.1 --database-port=$DB_PORT --database-user=root --database-pass=rootpassword --admin-user admin --admin-pass password

      - name: PHPUnit
        working-directory: tests
        run: phpunit --configuration phpunit-autotest.xml
