# SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Close stale issues

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

# Give the GITHUB_TOKEN the necessary permissions
permissions:
  contents: read
  issues: write

jobs:
  stale:
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner != 'nextcloud-gmbh' }}

    steps:
    - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v9
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: >
          This issue has been automatically marked as stale because it has not had
          recent activity and seems to be missing some essential information.
          It will be closed if no further activity occurs. Thank you
          for your contributions.
        stale-issue-label: 'stale'
        only-labels: 'needs info'
        exempt-issue-labels: '1. to develop,2. developing,3. to review,4. to release,security'
        days-before-stale: 30
        days-before-close: 14
