name: Psalm static code analysis

on:
  pull_request:

jobs:
  static-code-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: ctype,curl,dom,fileinfo,gd,intl,json,mbstring,openssl,pdo_sqlite,posix,sqlite,xml,zip
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Composer install
        run: composer i

      - name: Psalm
        run: composer run psalm -- --monochrome --no-progress --output-format=github --update-baseline || { git diff -- . ':!lib/composer'; exit 1; }

      - name: Check diff
        run: git diff -- . ':!lib/composer'

      - name: Show potential changes in Psalm baseline
        run: test -z "$(git status --porcelain build/psalm-baseline.xml)" || { echo 'Uncommited changes in Psalm baseline'; git status; git diff build/psalm-baseline.xml; }

  static-code-analysis-ocp:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: ctype,curl,dom,fileinfo,gd,intl,json,mbstring,openssl,pdo_sqlite,posix,sqlite,xml,zip
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Composer install
        run: composer i

      - name: Psalm
        run: composer run psalm -- -c psalm-ocp.xml --monochrome --no-progress --output-format=github --update-baseline || { git diff -- . ':!lib/composer'; exit 1; }

      - name: Check diff
        run: git diff -- . ':!lib/composer'

      - name: Show potential changes in Psalm baseline
        run: test -z "$(git status --porcelain build/psalm-baseline-ocp.xml)" || { echo 'Uncommited changes in Psalm baseline'; git status; git diff build/psalm-baseline-ocp.xml; }
