name: Update Psalm baseline

on:
  workflow_dispatch:
  schedule:
    - cron: "5 2 * * *"

jobs:
  update-psalm-baseline:
    runs-on: ubuntu-latest

    if: ${{ github.repository_owner != 'nextcloud-gmbh' }}

    strategy:
      fail-fast: false
      matrix:
        branches: ["master", "stable27", "stable26", "stable25"]

    name: update-psalm-baseline-${{ matrix.branches }}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branches }}
          submodules: true

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: ctype,curl,dom,fileinfo,gd,intl,json,mbstring,openssl,pdo_sqlite,posix,sqlite,xml,zip
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Composer install
        run: composer install

      - name: Psalm
        run: composer run psalm -- --monochrome --no-progress --output-format=text --update-baseline
        continue-on-error: true

      - name: Psalm OCP
        run: composer run psalm -- -c psalm-ocp.xml --monochrome --no-progress --output-format=github --update-baseline
        continue-on-error: true

      - name: Reset composer
        run: |
          git clean -f lib/composer
          git checkout composer.json composer.lock lib/composer

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          commit-message: Update psalm baseline
          committer: GitHub <noreply@github.com>
          author: nextcloud-command <nextcloud-command@users.noreply.github.com>
          signoff: true
          branch: automated/noid/${{ matrix.branches }}-update-psalm-baseline
          title: "[${{ matrix.branches }}] Update psalm-baseline.xml"
          body: |
            Auto-generated update psalm-baseline.xml with fixed psalm warnings
          labels: |
            automated pr
            3. to review
          team-reviewers: server-backend
