// The editors width and height properties will be edited in the javascript.
 #editor {
        position: relative;
        width: 0px;
        height: 0px;
        padding-top: 37px;
    }
    
#dropdown {
	display:block;  
	position:absolute; 
	z-index:100; 
	width:16em; 
	right:0; 
	margin-right:7em; 
	background:#eee; 
	padding:1em;
	-moz-box-shadow:0 1px 1px #777; 
	-webkit-box-shadow:0 1px 1px #777; 
	box-shadow:0 1px 1px #777;
	-moz-border-radius-bottomleft:1em; 
	-webkit-border-bottom-left-radius:1em; 
	border-bottom-left-radius:1em;
	-moz-border-radius-bottomright:1em; 
	-webkit-border-bottom-right-radius:1em; 
	border-bottom-right-radius:1em; 
}